<article class="b-photogallery">
    <ul class="b-pg-photolist">
        {% for meta in place.get_photos_with_meta %}
        <li class="b-pg-item{% if forloop.first %} active{% endif %}" data-photoid="{{ forloop.counter }}">
            <img src="{{ meta.1 }}" alt="" class="b-pg-photo">
            {% if meta.2 %}
            <span class="b-pg-item-copyright">
                <a href="{{ meta.2 }};">фотография предоставлена instagram</a>
            </span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% if place.get_photos_url|length > 1 %}
    <a href="javascript:void(0);" class="b-pg-before"></a>
    <a href="javascript:void(0);" class="b-pg-after"></a>
    {% endif %}
</article>
