<section class="l-o-part b-login-form">
    <header class="b-l-f-header">
        <h2 class="b-l-f-heading">Вход</h2>
        <a href="javascript:void(0);" class="b-l-f-link-registration">Зарегистрироваться</a>

        <a href="javascript:void(0);" class="b-l-f-link-close l-overlay-close">закрыть</a>
    </header>

    <div class="b-l-f-options">
        <form action="." class="b-l-f-form">
            <p class="b-l-f-f-row">
                <label class="b-l-f-f-label"></label>

            </p>
        </form>

        <a id="p-users_registration_vk" href="{{ vk_login_url }}" title="">Войти сейчас бесплатно через ВК.КОМ</a>
    </div>
</section>
