<section class="b-login-form{% if overlay %} l-o-part{% endif %}">
    <header class="b-l-f-header">
        <h2 class="b-l-f-heading">Вход</h2>
        {% if overlay %}
        <a href="{% url person-preregistration %}" class="b-l-f-link-registration">зарегистрироваться</a>
        <a href="javascript:void(0);" class="b-l-f-link-close l-overlay-close">закрыть</a>
        {% endif %}
    </header>

    <div class="b-l-f-options cf">
        <form action="{% url person-login %}" class="b-l-f-form" method="POST">
            <p class="b-l-f-row m-validate-container" data-for="email">
                <label class="b-l-f-label">Адрес эл. почты:</label>
                <input type="email" name="username" class="b-l-f-email"
                    autocapitalize="off" data-validate="true" data-enabling="true" data-filter="email" data-error="Введите правильный адрес эл. почты" placeholder="Адрес эл. почты" value="{{ formset.username.value|default:'' }}" required>
                {% include "blocks/module-validate/m-validate-error.html" with input=formset.username %}
            </p>
            <p class="b-l-f-row m-validate-container" data-for="password">
                <label class="b-l-f-label">Пароль:</label>
                <input type="password" name="password" class="b-l-f-password"
                    autocapitalize="off" data-validate="true" data-enabling="true" data-error="Введите пароль" placeholder="Пароль" value="{{ formset.password.value|default:'' }}" required>
                {% include "blocks/module-validate/m-validate-error.html" with input=formset.password %}
            </p>

            {% include "blocks/module-validate/m-validate-error-nonfield.html" with form=formset %}
            {% csrf_token %}

            <p class="b-l-f-submit">
                <button class="button blue" disabled>Отправить</button>
            </p>           
        </form>

        <div class="b-l-f-vkopt">
            {% include "blocks/block-vklogin/b-vklogin.html" %}
        </div>
    </div>
</section>
