{% extends "blocks/base/base.html" %}

{% block content %}
<section class="l-content p-users s-wrap" id="l-content">
    <header class="p-u-header">
        <h2 class="p-u-name">Только по приглашениям</h2>

    </header>
    <div class="p-u-content">
        <div class="p-u-description">
            <p>
                Спасибо за ваши фотографии!
            </p>
            <p>
                Мы максимально быстро просматриваем заявки на приглашения. Как только ваша заявка будет одобрена мы сразу же вышлем вам приглашение.
            </p>

        </div>

    </div>
</section>

{% endblock %}