{% load pytils_numeral %}
<div class="b-comments">
    <a href="{% url mobile_likes pk=feed_item.id %}" class="b-c-likes">
        <span class="b-c-like{% if user.get_profile.id in feed_item.liked %} liked{% endif %}">{{ feed_item.liked|length }}</span>

        {% if feed_item.liked|length %}
        <div class="b-c-likescontent">
            <ul class="b-c-likesrow">
                {% for person_item in feed_item.liked_person|slice:":7" %}
                <li class="b-c-likeitem">
                    <img class="b-c-likeuserpic" src="{{ person_item.photo_url }}" alt="{{ person_item.full_name }}">
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <div class="b-c-likescontent empty">
            Пока что никому не понравилось.
        </div>
        {% endif %}
    </a>

    <ul class="b-c-list">{% for comment in feed_item.get_comments %}{# on the same line so :empty will work in safari #}
        <li class="b-c-l-item{% if comment.creator.id == user.get_profile.id %} deletable{% endif %}" data-commentid="{{ comment.id }}">
            <a href="{% url mobile_profile pk=comment.creator.id %}" class="b-c-userpicwrap">
                <img class="b-c-userpic" src="{{ comment.creator.photo_url }}" alt="">
            </a>
            <div class="b-c-content">
                <a href="{% url mobile_profile pk=comment.creator.id %}" class="b-c-username">{{ comment.creator.full_name }}</a>
                <span class="b-c-message">{{ comment.comment }}</span>
                <span class="b-c-time">{{ comment.create_date|humanize_since }}</span>
            {% if comment.creator.id == user.get_profile.id %}
                <a href="javascript:void(0);" class="b-c-delete button red small">Удалить</a>
            {% endif %}
            </div>
        </li>
    {% endfor %}</ul>

    <form action="" class="b-c-addnew">
        <div class="m-textarea-autogrow">
            <span class="m-t-a-pusher">Ваш комментарий</span>
            <textarea name="comment" class="m-t-a-textarea" placeholder="Ваш комментарий"></textarea>
        </div>
        <div class="b-c-a-submit">
            <button class="b-c-addnew-button button small">Отправить</button>
        </div>
    </form>
</div>
