<div class="b-likes">
    <div class="b-l-controls">
        <a href="javascript:void(0);" class="b-l-c-like{% if user.get_profile.id in feed_item.liked %} liked{% endif %}">
            <i class="b-l-c-icon">{{ feed_item.liked|length }}</i>
            мне нравится
        </a>
    </div>

    <ul class="b-l-list">{% for person in feed_item.liked_person %}{# on the same line so :empty will work in safari #}
        <li class="b-l-l-item{% if person.id == user.get_profile.id %} own{% endif %}">
            <a href="{% url mobile_profile pk=person.id %}" class="b-l-userpicwrap">
                <img class="b-l-userpic" src="{{ person.photo_url }}" alt="">
                {{ person.full_name }}
            </a>
        </li>
    {% endfor %}</ul>
</div>
