{% load pytils_numeral %}
<article class="b-activity-story" data-storyid="{{ feed_item.id }}">
    <div class="b-a-s-controls">
        <a href="{% url mobile_profile pk=feed_item.creator.id %}" class="b-a-s-c-userpicwrap">
            <img class="b-a-s-c-userpic" src="{{ feed_item.creator.photo_url }}" alt="">
        </a>

        <ul class="b-a-s-c-options">
            <li class="b-a-s-c-option"><a href="javascript:void(0);" class="b-a-s-c-option-link b-a-s-c-like{% if user.get_profile.id in feed_item.liked %} liked{% endif %}">{{ feed_item.liked|length }}</a></li>
            <li class="b-a-s-c-option"><a href="{% url mobile_comments pk=feed_item.id %}" class="b-a-s-c-option-link b-a-s-c-comment">{{ feed_item.get_comments_count|default:"" }}</a></li>
            {# <li class="b-a-s-c-option"><a href="javascript:void(0);" class="b-a-s-c-option-link b-a-s-c-share"></a></li> #}
        </ul>
    </div>
    <div class="b-a-s-content">
        <figure class="b-a-s-imgwrap">
            <img class="b-a-s-img" src="{{ feed_item.get_data.photos.0.url}}" alt="">

            <!--<a href="#" class="b-a-s-external">
                Генералу Кококо понравилась эта фотография
            </a>-->

            <figcaption class="b-a-s-imgcaption">
                <div class="b-a-s-place">
                    <i class="b-a-s-p-cat {{ feed_item.get_data.place.type|place_categorize }}"></i>
                    <a href="{% url mobile_place pk=feed_item.get_data.place.id %}" class="b-a-s-p-name">{{ feed_item.get_data.place.title }}</a>
                </div>

                <div class="b-a-s-meta">
                    <span class="b-a-s-m-rating">{{ feed_item.get_data.rate|stars }}</span>
                    <span class="b-a-s-m-time">{{ feed_item.create_date|humanize_since }}</span>
                </div>

                {% if feed_item.get_data.review %}
                <div class="b-a-s-review">
                    {{ feed_item.get_data.review|truncatewords:16 }}
                </div>
                {% endif %}
            </figcaption>
        </figure>

        <div class="b-a-s-comments">
            {% for comment in feed_item.get_last_comments %}
            <div class="b-a-s-comment">
                <a href="{% url mobile_profile pk=comment.creator.id %}" class="b-a-s-c-userpicwrap">
                    <img class="b-a-s-c-userpic" src="{{ comment.creator.photo_url }}" alt="">
                </a>
                <div class="b-a-s-c-message">{{ comment.comment }}</div>
            </div>
            {% endfor %}
            {% if feed_item.get_comments_count > 2 %}
            <a href="{% url mobile_comments pk=feed_item.id %}" class="b-a-s-c-readall">Прочитать все {{ feed_item.get_comments_count }} {{ feed_item.get_comments_count|choose_plural:"комментарий, комментария, комментариев" }} </a>
            {% else %}
            <a href="{% url mobile_comments pk=feed_item.id %}" class="b-a-s-c-readall">Добавить комментарий</a>
            {% endif %}
        </div>
    </div>
</article>
