<ul class="b-users_list">
    {% for person_item in person_list %}
    <li class="b-u-l-item{% if person_item.id == user.get_profile.id %} own{% else %} {% if person_item.me_following %}following{% else %}follow{% endif %}{% endif %}" data-userid="{{ person_item.id }}">
        <a href="{% url mobile_profile pk=person_item.id %}" class="b-u-l-userpicwrap">
            <img class="b-u-l-userpic" src="{{ person_item.photo_url }}" alt="{{ person_item.full_name }}">
        </a>
        <div class="b-u-l-userdata">
            <a href="{% url mobile_profile pk=person_item.id %}" class="b-u-l-username">{{ person_item.full_name }}</a>
            <span class="b-u-l-userlocation">{{ person_item.location }}</span>

            {% if person_item.id != user.get_profile.id %}
            <a href="javascript:void(0);" class="b-u-l-control"><span class="follow"></span><span class="unfollow"></span></a>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
