{% extends 'admin/base_site.html' %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:poi_editorialcheckin_changelist' %}">{% trans 'Back' %}</a>
</div>
{% endblock %}

{% block content %}
    {% if not found_places %}
    <form action="{% url 'admin:poi_editorialcheckin_add'%}?action=search" method="POST">
        <h3>Место</h3>
        <div>
            <p>
                <label>Широта</label>: <input type="text" name="lat">
            </p>
            <p>
                <label>Долгота</label>: <input type="text" name="lng">
            </p>
        </div>
        <input type="submit" value="Найти">
    {% csrf_token %}
    </form>
    {% else %}
        <ul >
        {% for place in found_places %}
            <li style="font-size: 14px; padding-bottom: 6px; cursor: pointer;" class="js-place" data-placeid="{{ place.id }}">
                {{ place.title }}, {{ place.get_type_text }} - {{ place.format_address }} [<a href="{% url 'admin:poi_place_change' place.id %}" target="_blank">Редактировать</a>]
            </li>
        {% endfor %}
        </ul>
    {% endif %}
<script type="text/javascript">
    var $=django.jQuery;
    var selectPlace = function(place) {
        var place_id = place.attr('data-placeid');
        place.css('textDecoration', 'underline');
        console.log(place_id);
    }
    $(window).load(function()
    {
        $('.js-place').each(function() {
            var place = $(this);
            $(this).click(function() {
                selectPlace(place)
            });
        });
    });

</script>
{% endblock %}