@import 'css/mixins.scss';

.b-notifications {

    .b-n-sign {
        display: block;
        cursor: pointer;
        overflow: hidden;

        .b-n-iconwrap {
            width: 30px;
            height: 24px;

            padding-top: 8px;

            display: block;
            float: left;

            text-align: center;

            .b-n-icon {
                margin: 0 auto;
                display: block;
                @include sprite('/img/sprites/misc/notifications_icon.png');
            }
        }
        
        .b-n-counterwrap {
            width: 23px;
            padding-top: 2px;

            display: block;
            float: left;

            .b-n-counter {
                display: block;
                overflow: hidden;

                @include sprite('/img/sprites/misc/notifications_counter.png');

                line-height: 22px;
                text-align: center;
            }

            .b-n-counter-num {
                padding-left: 6px;

                font-style: normal;
                font-weight: 300;
                font-size: 10px;
                line-height: 10px;

                color: #fff;
            }
            
        }
        

        &:hover .b-n-iconwrap {
            background-color: rgba(255, 255, 255, .3);
        }
    }
    &[data-empty="true"] {
        .b-n-sign:hover .b-n-iconwrap,
        .b-n-sign:active .b-n-iconwrap {
            background-color: transparent;
        }
    }
    .b-n-dropdown {
        width: 100%;
        margin-left: 10px;

        position: absolute;
        left: -999px;
        top: -999px;

        background: #fff;

        @include box-shadow(0 3px 2px rgba(0, 0, 0, .4));

        font-size: 12px;
        color: #919191;
        text-shadow: none;

        .b-n-userpic {
            width: 24px;
            height: 24px;

            display: inline-block;

            @include border-radius(12px);
            @include box-shadow(0 0 0 2px rgba(255, 255, 255, 1), 0 0 2px 2px rgba(0, 0, 0, .4));
        }

        .b-n-list-item {
            padding: 7px 10px;
            overflow: hidden;

            border-bottom: 1px solid #e5e5e5;

            &.unseen {
                background: #eef6fb;
            }
        }

        .b-n-userpicwrap {
            width: 24px;
            height: 24px;

            padding: 5px;

            display: block;
            float: left;
        }

        .b-n-content {
            margin-left: 44px;
        }

        .b-n-footer {
            padding: 5px;
            text-align: center;
        }
    }

    &.active {
        position: relative;
        z-index: 100;

        .b-n-sign {
            .b-n-iconwrap {
                background-color: #fff;
            }
            .b-n-counterwrap {
                display: none;
            }
        }

        .b-n-dropdown {
            top: 100%;
            left: 0;
        }
    }

    &.seen {
        .b-n-counterwrap {
            display: none;
        }
    }
}
