<div class="b-notifications" data-empty="{% if notification_popup|length and not hide_notifications %}false{% else %}true{% endif %}">
    <span class="b-n-sign">
        {% if notification_popup_unread_count %}
        <span class="b-n-counterwrap">
            <em class="b-n-counter">
                <span class="b-n-counter-num">{{ notification_popup_unread_count }}</span>
            </em>
        </span>
        {% endif %}
        <span class="b-n-iconwrap">
            <i class="b-n-icon"></i>
        </span>
    </span>
    {% if notification_popup|length and not hide_notifications %}
    <div class="b-n-dropdown">
        <ul class="b-n-list">
            {% for notification in notification_popup %}
            <li class="b-n-list-item{% if not notification.is_read %} unseen{% endif %}" data-nid="{{ notification.id }}">
                <a href="{{ notification.sender.url }}" class="b-n-userpicwrap"><img class="b-n-userpic" src="{{ notification.sender.photo_url }}" alt="{{ notification.sender.full_name }}"></a>
                {% if notification.notification_type == 1 %}
                <div class="b-n-content">
                    <a href="{{ notification.sender.url }}">{{ notification.sender.full_name }}</a> {{ notification.sender.sex|unisex:"добавил,добавила" }} новый комментарий в <a href="{% url feed-item pk=notification.object_id %}">вашей ленте</a>
                </div>
                {% elif notification.notification_type == 2 %}
                <div class="b-n-content">
                    <a href="{{ notification.sender.url }}">{{ notification.sender.full_name }}</a> {{ notification.sender.sex|unisex:"подписался,подписалась" }} на вас
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <p class="b-n-footer">
            <a href="{% url person-notifications %}" class="b-n-link-full_list">посмотреть все</a>
        </p>
    </div>
    {% endif %}
</div>
