{% extends "blocks/base/base.html" %}

{% block content %}
<section class="l-content p-notifications s-wrap" id="l-content">
    <header class="p-n-header">
        <h2 class="p-n-heading">Новости</h2>
        <a href="javascript:void(0);" class="p-n-markreadall button small green{% if not has_unread %} disabled {% endif %}">Отметить все прочитанным</a>
    </header>
    <div class="p-n-listwrap">
        <ul class="p-n-list">
            {% for notification in notifications %}
            <li class="p-n-l-item{% if not notification.is_read %} unseen{% endif %}" data-nid="{{ notification.id }}">
                <div class="p-n-l-content">
                    {% if notification.sender.photo_url %}<a href="{{ notification.sender.url }}" class="p-n-userpicwrap"><img class="p-n-userpic" src="{{ notification.sender.photo_url }}" alt="{{ notification.sender.full_name }}"></a>{% endif %}
                    
                    <div class="p-n-l-data">
                        <a href="{{ notification.sender.url }}" class="p-n-username">{{ notification.sender.full_name }}</a>
                        {% if notification.notification_type == 1 %}
                        <span class="p-n-l-message">Добавил новый комментарий в <a href="{% url feed-item pk=notification.object_id %}">вашей ленте</a> </span>
                        {% elif notification.notification_type == 2 %}
                        <span class="p-n-l-message">Подписался на вас</span>
                        {% endif %}
                    </div>                    
                </div>
                <div class="p-n-l-controls">
                    <a href="javascript:void(0);" class="button small red p-n-l-markread">x</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}
