@import 'css/mixins.scss';

.p-featured {
    color: #535353;

    .p-f-header {
        padding: 30px 0 10px;

        .p-f-heading {
            font-weight: 300;
            font-size: 28px;
            text-transform: uppercase;
        }
    }

    .p-f-content {
        margin: 20px 0;
    }
}

.story-view {
    width: 840px;
    margin: 0 auto;

    overflow: hidden;

    position: relative;
    background: #fff;
}
