{% extends "blocks/base/base.html" %}

{% block content %}
<section class="l-content p-featured s-wrap" id="l-content">
    <header class="p-f-header">
        <h2 class="p-f-heading">Популярное</h2>
    </header>

    <div class="p-f-content">
        {% include "blocks/block-pinterest/b-pinterest.html" %}
    </div>
</section>
{% endblock %}
{% block overlay_parts %}<section class="l-o-part story-view"></section>{% endblock %}
{% block json_data %}{
    feed: {{ feed_json|safe }}
}{% endblock %}
