{% load i18n %}
{% load pytils_numeral %}
<div class="b-usercard">
    <img class="b-u-userpic" src="{{ person.photo_url }}" alt="{{ person.firstname }} {{ person.lastname }}">

    <div class="b-u-userinfo">
        <h2 class="b-u-username">{{ person.full_name }}</h2>
        {% if person.location %}<span class="b-u-location">{{ person.location }}</span>{% endif %}
        <ul class="b-u-userdata">
            {% if checkin_count %}
            <li class="b-u-userdata-item b-u-checkin">Последний раз видели в: <a href="{{ lastcheckin.get_feed_item_url }}">{{ lastcheckin.place.title }}</a></li>
            <li class="b-u-userdata-item b-u-count">Всего побывал в <strong>{{checkin_count|get_plural:"месте, местах, местах"}}</strong></li>
            {% endif %}
            {% if person.status == 1 and person.email and person.id == user.get_profile.id %}<li class="b-u-userdata-item b-u-email">Адрес электронной почты: <strong>{{ person.email }}</strong></li>{% endif %}
            {% if person.social_profile_urls.vkontakte %}<li class="b-u-userdata-item b-u-vk">Страница вконтакте: <a href="{{ person.social_profile_urls.vkontakte.0 }}" target="_blank">{{ person.social_profile_urls.vkontakte.0 }}</a></li>{% endif %}
        </ul>

        {% if person.status == 1  and person.id == user.get_profile.id  %}
        <p class="b-u-e-usercontrols">
            <a href="{% url person-edit-profile %}" class="b-u-userdata-change">Изменить данные</a>
        </p>
        {% endif %}
    </div>
</div>
