<li class="b-s-f-item">
    <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/369310_7301100_911235766_n.jpg" alt="" class="b-s-f-userpic">
    <p class="b-s-f-info">
        <a href="#" class="b-s-f-username">Cyan Rebelchuk</a>
        <small class="b-s-f-commonfriends">9001 общий друг</small>
        <a href="javascipt:void(0);" class="b-s-f-add">добавить в друзья</a>
    </p>
</li>
