{% extends "blocks/base/base.html" %}

{% block content %}
<section class="l-content p-favorites s-wrap" id="l-content">
    <header class="p-f-header">
        <h2 class="p-f-heading">Любимые места</h2>
    </header>
    <div class="p-f-filters">
        <ul class="p-f-cities">
            <li class="p-f-c-city" data-cityid="1"><a href="javascript:void(0);">Москва</a>,</li>
            <li class="p-f-c-city" data-cityid="2"><a href="javascript:void(0);">Магадан</a>,</li>
            <li class="p-f-c-city" data-cityid="3"><a href="javascript:void(0);">Барселона</a>,</li>
            <li class="p-f-c-city" data-cityid="4"><a href="javascript:void(0);">Бангладеш</a></li>
        </ul>
    </div>

    <div class="p-f-content">
        {% include "blocks/block-favorites/b-favorites.html" %}

        <aside class="p-f-sidebar">
            {% include "blocks/block-favorites-map/b-favorites-map.html" %}
        </aside>
    </div>
</section>
{% endblock %}
{% block json_data %}{
    favorites: {{ favorites_json|safe }}
}{% endblock %}
{% block extra_js %}
<script src="http://maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}&amp;sensor=false"></script>
{% endblock %}
