@import 'css/mixins.scss';

.p-favorites {
    color: #535353;

    .p-f-header {
        padding: 30px 0 10px;

        .p-f-heading {
            font-weight: 300;
            font-size: 28px;
            text-transform: uppercase;
        }
    }

    .p-f-content {
    }
}
