@import 'css/mixins.scss';

.b-story {
    width: 300px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);

    background: #fff;

    .b-s-imagewrap {
        padding: 5px 5px 0;

        .b-s-image {
            max-width: 100%;
        }
    }

    .b-s-locationname {
        padding: 5px 10px;
        background: #eff5f8;

        .b-s-namewrap {
            overflow: hidden;
        }

        .b-savorite {
            margin-top: 2px;
            display: block;
            float: left;

            @include sprite('/img/sprites/favorites/normal.png');

            &:hover {
                @include sprite('/img/sprites/favorites/hover.png');
            }
            &:active,
            &.active {
                @include sprite('/img/sprites/favorites/active.png');
            }
        }

        .b-s-name {
            // FIXME: uncomment when favorites finished
            // margin-left: 22px;
            color: #0076a3;
            font-size: 16px;
        }
        .b-s-location {
            margin-top: 5px;
            display: block;
            color: #919191;
            font-size: 13px;
        }
    }

    .b-s-author {
        margin-top: 10px;
        padding: 10px;

        overflow: hidden;

        font-size: 11px;
        color: #919191;

        .b-s-userpicwrap {
            width: 40px;
            height: 40px;

            display: block;
            float: left;

            .b-s-userpic {
                width: 40px;
                height: 40px;

                display: block;

                text-decoration: none;

                border-radius: 20px;
                box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 2px 2px rgba(0, 0, 0, .4);
            }
        }

        .b-s-userdata {
            margin-left: 50px;

            .b-s-usermeta {
                font-size: 12px;
            }

            .b-s-time {
                margin-left: 5px;
                display: inline-block;
                font-size: 11px;
                color: #aeaeae;
            }

            .b-s-rating {
                margin-left: 5px;
                display: inline-block;
            }
        }
    }

    .b-s-review {
        padding: 10px;

        font-size: 13px;
        color: #535353;
        word-wrap: break-word;
    }

    .b-s-meta {
        padding: 10px;
        // border-top: 1px solid #ececec;

        font-size: 11px;
        color: #919191;

        .b-s-metaitem {
            padding: 0 10px;
            display: inline-block;
            border-left: 1px solid #ececec;

            &.first {
                padding-left: 0;
                border-left: none;
            }
            &.last {
                padding-right: 0;
            }

            &.b-s-metaitem-likeswrap {
                position: relative;

                .b-s-likesblock {
                    display: none;
                }

                &.has_likes:hover .b-s-likesblock {
                    display: block;
                }

                .b-s-l-f-more {
                    display: none;
                }

                &.has_extra_likes .b-s-l-f-more {
                    display: block;
                }
            }
        }
        .b-s-meta-likes {
            &.liked {
                color: #da6084;
            }
        }

        .b-s-likesblock {
            width: 228px;

            margin-top: 3px;
            padding: 5px;

            position: absolute;
            left: 0;
            top: 100%;
            z-index: 10;

            background: #eff5f8;
            border: 1px solid #d1d7da;

            &:before {
                width: 0;
                height: 0;

                content: "";
                position: absolute;
                left: 3px;
                top: -6px;

                border-bottom: 5px solid #d1d7da;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }
            &:after {
                width: 0;
                height: 0;

                content: "";
                position: absolute;
                left: 3px;
                top: -5px;

                border-bottom: 5px solid #eff5f8;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }
        }

        .b-s-l-facelistwrap {
            overflow: hidden;
        }

        .b-s-l-facelist {
            width: 500px;
            overflow: hidden;

            .b-s-f-l-f-face {
                margin: 4px;
                display: block;
                float: left;

                .b-s-f-l-f-userpic {
                    width: 30px;
                    height: 30px;

                    display: block;

                    border-radius: 15px;
                    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1), 0 0 1px 1px rgba(0, 0, 0, .4);
                }
            }

            .b-s-l-f-more {
                width: 20px;
                height: 20px;

                margin: 0 4px;
                padding-top: 8px;

                display: block;
                float: left;

                font-size: 14px;
                line-height: 14px;
                text-align: center;
            }
        }
    }
}
