<footer class="l-footer" id="l-footer">
    <div class="l-footer-content s-wrap">
        <nav class="l-f-nav">
            <ul class="l-f-menu">
                <li class="l-f-menuitem"><a href="{% url page-about %}" target="_blank" class="l-f-menulink">О нас</a></li>
                <li class="l-f-menuitem"><a href="javascript:void(0);" class="l-f-menulink l-f-feedback">Обратная связь</a></li>
                <li class="l-f-menuitem"><a href="{% url page-agreement %}" target="_blank" class="l-f-menulink">Пользовательское соглашение</a></li>
                <li class="l-f-menuitem"><a href="{% url mobile_index %}" target="_blank" class="l-f-menulink">Мобильная версия</a></li>
            </ul>
        </nav>
        <aside class="l-f-copyright">
            <p class="l-f-copyright-ostro">Ostronaut &copy; {% now "Y" %}</p>
            <p class="l-f-copyright-fsq">Информация о точках предоставлена <a href="https://foursquare.com/" class="l-f-copyrght-fsqlink" target="_blank">foursquare</a></p>
        </aside>
    </div>
</footer>
