<footer class="l-footer" id="l-footer">
    <div class="l-footer-content s-wrap">
        <nav class="l-f-nav">
            <ul class="l-f-menu">
                <li class="l-f-menuitem"><a href="javascript:void(0);" class="l-f-menulink">О нас</a></li>
                <li class="l-f-menuitem"><a href="javascript:void(0);" class="l-f-menulink l-f-feedback">Обратная связь</a></li>
                <li class="l-f-menuitem"><a href="javascript:void(0);" class="l-f-menulink">Сгенерировать тестовый фид</a></li>
            </ul>
        </nav>
        <aside class="l-f-copyright">Ostronaut &copy; 2012{# &mdash; {% now "Y" %}#}</aside>
    </div>
</footer>
