@import 'css/mixins.scss';

// ======================================================================================
// Sticky footer
// ======================================================================================
$footer_height: 75px;

html,
body {
    height: 100%;
}
.l-wrapper {
    min-height: 100%;
    height: auto !important;
    // height: 100%;
    margin: 0 auto -#{$footer_height}; /* the bottom margin is the negative value of the footer's height */
}
.l-footer,
.l-footer-pusher {
    height: $footer_height;
}


// ======================================================================================
// Normal footer styles
// ======================================================================================

.l-footer {
    background: #373737;

    color: #fff;

    .l-footer-content {
        padding: 15px 0;

        overflow: hidden;

        a {
            color: #fff;
        }
    }

    .l-f-nav {
        width: 600px;
        float: left;

        .l-f-menuitem {
            margin-right: 20px;
            display: inline-block;       
        }
    }

    .l-f-copyright {
        width: 360px;
        float: right;
        text-align: right;

        .l-f-copyright-fsq {
            margin-top: 10px; 
            font-size: 10px;
            line-height: 16px;

            color: #999;

            > .l-f-copyrght-fsqlink {
                height: 16px;
                padding-left: 18px;

                display: inline-block;
                line-height: 16px;

                color: #999;

                background: url('img/misc/foursquare_16x16.png') no-repeat;
            }
        }
    }
    
}
