@import 'css/mixins.scss';

// ======================================================================================
// Sticky footer
// ======================================================================================
$footer_height: 50px;

html,
body {
    height: 100%;
}
.l-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -$footer_height; /* the bottom margin is the negative value of the footer's height */
}
.l-footer,
.l-footer-pusher {
    height: $footer_height;
}


// ======================================================================================
// Normal footer styles
// ======================================================================================

.l-footer {
    background: #373737;

    color: #fff;

    .l-footer-content {
        padding: 15px 0;

        overflow: hidden;
    }

    .l-f-nav {
        width: 600px;
        float: left;

        .l-f-menuitem {
            margin-right: 20px;
            display: inline-block;

            a {
                color: #fff;
            }
        }
    }

    .l-f-copyright {
        width: 200px;
        float: right;
    }


}
