<section class="b-locationpicker">
    <div class="b-l-map">
        <div class="b-l-m-canvas"></div>
    </div>

    <div class="b-l-locations default">
        <div class="b-l-l-empty b-l-l-message">
            По выбранным координатам мест не найдено
        </div>
        <div class="b-l-l-loading b-l-l-message">
            Загружаю места&#133;
        </div>
        <div class="b-l-l-error b-l-l-message">
            Произошла ошибка при запросе мест
        </div>
        <div class="b-l-l-default b-l-l-message">
            Поставьте маркер на карте для поиска мест.
        </div>
        <div class="b-l-l-list"></div>
    </div>
</section>
