@import 'css/mixins.scss';

.p-index {
    .p-i-header {
        background: #b7daee url('img/misc/dontcross.png') repeat-x -420px 220px;

        .p-i-header-wrap {
            position: relative;
        }

        .p-i-h-phonewrap {
            width: 614px;
            height: 457px;
            position: absolute;
            left: -165px;
            top: 65px;

            background: #b7daee url('img/misc/dontcross_iphonebg.png') no-repeat 0 5px;
        }

        .p-i-h-phone {
            width: 286px;
            height: 607px;
            margin: -45px 0 0 175px;
            display: block;

            background: url('img/misc/iphone_dontcross.png') no-repeat;
        }

        .p-i-h-phonescreen {
            margin: 100px 0 0 25px;
        }

        .p-i-h-content {
            height: 447px;
            padding-left: 330px;
            padding-top: 75px;
            // padding-bottom: 40px;
            position: relative;

            .p-i-h-slogan {
                font-weight: 600;
                font-size: 36px;
                color: #c83a3c;
                text-shadow: 0 1px 0 rgba(255, 255, 255, .8);

                > em {
                    font-style: normal;
                    font-size: 50px;
                }
            }

            .p-i-h-explain {
                height: 60px;
                margin-top: 30px;

                color: #48606e;
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
            }

            .p-i-h-warningcopy {
                position: absolute;
                left: 360px;
                top: 235px;

                color: #2f2f2f;
                font-weight: 600;
                font-size: 24px;

                text-transform: uppercase;

                @include helper_noselect();
            }

            .p-i-h-invites {
                margin-top: 110px;

                .p-i-h-i-options {
                    margin-left: 30px;
                }

                .p-i-h-i-option {
                    margin-bottom: 20px;
                    position: relative;

                    color: #5e7988;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 20px;

                    &:before {
                        width: 6px;
                        height: 6px;

                        content: "";
                        position: absolute;
                        left: -15px;
                        top: 7px;

                        background: #0076a3;

                        @include border-radius(3px);
                        @include box-shadow(0 0 0 1px rgba(255, 255, 255, 1), 0 0 1px 1px rgba(0, 0, 0, .4));
                    }
                }

                .p-i-h-i-links {
                    margin-top: 35px;

                    .p-i-h-i-links-opt {
                        margin: 0 10px;
                        display: inline-block;
                        color: #96b2c1;

                        font-weight: 300;
                        font-size: 18px;
                        text-transform: lowercase;
                    }
                }
            }
        }


        .p-i-h-bottom {
            height: 100px;
            @include vertical-gradient(#cbcbcb, #fefefe);
        }
    }

    .p-i-howitworks {
        padding: 40px 0 100px;

        .p-i-h-subheading {
            font-size: 24px;
            color: #565d61;
            text-transform: uppercase;
        }

        .p-i-h-steps {
            margin-top: 50px;
            overflow: hidden;

            background: url('img/misc/howtosteps.png') no-repeat right 0;

            .p-i-h-s-step {
                width: 210px;
                margin-right: 40px;
                padding-top: 225px;
                float: left;

                font-size: 18px;
                line-height: 24px;
                color: #747e83;

                text-align: center;

                &.last {
                    margin-right: 0;
                }
            }
        }
    }
}
