@import 'css/mixins.scss';

.p-index {
    .p-i-header {
        padding: 50px 0 25px;
        @include vertical-gradient(#bfd8e8, #e7f1f7);
        border-bottom: 1px solid #dcdcdc;

        .p-i-header-wrap {
            position: relative;
        }

        .p-i-slogan {
            font-size: 30px;
            line-height: 48px;
            color: #ed1c24;

            > em {
                font-style: normal;
                font-size: 48px;
            }
        }

        .p-i-perks {
            margin-top: 25px;
            margin-left: 1.2em;

            color: #ed1c24;
            font-size: 16px;

            > li {
                padding: 5px 0;
                list-style: disc;
            }

            .p-i-perkitem {
                color: #535353;
            }
        }

        .p-i-actions {
            margin-top: 40px;
        }

        .p-i-actions-delimeter {
            padding: 10px 15px;
            display: inline-block;

            font-size: 14px;
            color: #535353;
        }

        .p-i-iphonead {
            width: 340px;

            overflow: hidden;
            position: absolute;
            right: 0;
            top: 0;

            .p-i-iphoneadtext {
                width: 180px;

                margin-top: 110px;
                padding-top: 45px;
                float: left;

                font-family: Arial, sans-serif;
                font-size: 14px;
                font-style: italic;

                background: url('img/misc/hdrawn_arrow.png') no-repeat 100px 0;

                color: #67859f;

                a {
                    font-weight: normal;
                    color: #2a5894;
                }
            }

            .p-i-iphoneimg {
                float: right;

                background: url('img/misc/his_lordness.png') no-repeat 13px 55px;
            }
        }
        
    }


    .p-i-contents {
        
    }






}
