{% extends "blocks/base/base.html" %}
{% load static %}
{% block header %}
{% with is_index="True" %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<section class="l-content p-index" id="l-content">
    <header class="p-i-header">
        <div class="p-i-header-wrap s-wrap">
            <div class="p-i-h-phonewrap">
                <div class="p-i-h-phone">
                    <div class="p-i-h-phonescreen">
                        <img src="{% get_static_prefix %}img/misc/indexscreen.jpg" alt="Ostronaut screenshot" />
                    </div>
                </div>
            </div>

            <div class="p-i-h-content">
                <h2 class="p-i-h-slogan">Покажите себя в <em>Ostronaut!</em></h2>
                <p class="p-i-h-explain">
                    Сохраняй лучшие места на фотографиях и делись ими с друзьями ВКонтакте.
                </p>

                <span class="p-i-h-warningcopy">Вход только по приглашениям</span>

                <div class="p-i-h-invites">
                    <ul class="p-i-h-i-options">
                        <li class="p-i-h-i-option">Чтобы войти, скачай приложение и запроси приглашение.</li>
                        <li class="p-i-h-i-option">Если есть промокод, скачай приложение и введи цифры в специальное поле.</li>
                    </ul>

                    <p class="p-i-h-i-links">
                        <a href="{{ appstore_url }}" class="button green" target="_blank">Скачать приложение</a>
                        <em class="p-i-h-i-links-opt">или</em>
                        <a href="{% url person_login %}" class="button blue p-i-h-i-links-login">Войти</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="p-i-h-bottom"></div>
    </header>

    <div class="p-i-howitworks s-wrap">
        <h3 class="p-i-h-subheading">Как работает Ostronaut</h3>
        <ul class="p-i-h-steps">
            <li class="p-i-h-s-step">Сделай фото места, в котором находишься.</li>
            <li class="p-i-h-s-step">Добавь классные фильтры и рамки.</li>
            <li class="p-i-h-s-step">Поставь отметку на карте и оценку месту.</li>
            <li class="p-i-h-s-step last">Поделись местом с друзьями ВКонтакте.</li>
        </ul>
    </div>
</section>
{% endblock %}
