<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>fbAppId</key>
		<string></string>
		<key>DEVELOPMENT_APP_KEY</key>
		<string></string>
		<key>DEVELOPMENT_APP_SECRET</key>
		<string></string>
		<key>PRODUCTION_APP_SECRET</key>
		<string></string>
		<key>PRODUCTION_APP_KEY</key>
		<string></string>
		<key>APP_STORE_OR_AD_HOC_BUILD</key>
		<string>NO</string>
		<key>railsBaseURL</key>
		<string>http://piclardev.com:3000</string>
		<key>vkSecretId</key>
		<string></string>
		<key>vkAppId</key>
		<string></string>
		<key>vkPermissions</key>
		<string>friends,notify,photos,status,wall,offline,notifications</string>
		<key>vkRedirectUrl</key>
		<string>http://oauth.vk.com/blank.html</string>
		<key>baseURL</key>
		<string>https://piclardev.com:3000</string>
		<key>secureBaseURL</key>
		<string></string>
		<key>apiVersion</key>
		<string>1.0</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>fbAppId</key>
		<string></string>
		<key>DEVELOPMENT_APP_KEY</key>
		<string></string>
		<key>DEVELOPMENT_APP_SECRET</key>
		<string></string>
		<key>PRODUCTION_APP_SECRET</key>
		<string></string>
		<key>PRODUCTION_APP_KEY</key>
		<string></string>
		<key>APP_STORE_OR_AD_HOC_BUILD</key>
		<string>YES</string>
		<key>railsBaseURL</key>
		<string>http://piclar.com</string>
		<key>vkSecretId</key>
		<string></string>
		<key>vkAppId</key>
		<string></string>
		<key>vkPermissions</key>
		<string>friends,notify,photos,status,wall,offline,notifications</string>
		<key>vkRedirectUrl</key>
		<string>http://oauth.vk.com/blank.html</string>
		<key>baseURL</key>
		<string>http://piclar.com</string>
		<key>secureBaseURL</key>
		<string>https://piclar.com</string>
		<key>apiVersion</key>
		<string>1.0</string>
	</dict>
	<key>Distribution</key>
	<dict>
		<key>fbAppId</key>
		<string></string>
		<key>DEVELOPMENT_APP_KEY</key>
		<string></string>
		<key>DEVELOPMENT_APP_SECRET</key>
		<string></string>
		<key>PRODUCTION_APP_SECRET</key>
		<string></string>
		<key>PRODUCTION_APP_KEY</key>
		<string></string>
		<key>APP_STORE_OR_AD_HOC_BUILD</key>
		<string>NO</string>
		<key>railsBaseURL</key>
		<string>http://piclar.com</string>
		<key>vkSecretId</key>
		<string></string>
		<key>vkPermissions</key>
		<string>friends,notify,photos,status,wall,offline,notifications</string>
		<key>vkAppId</key>
		<string></string>
		<key>vkRedirectUrl</key>
		<string>http://oauth.vk.com/blank.html</string>
		<key>baseURL</key>
		<string>http://piclar.com</string>
		<key>secureBaseURL</key>
		<string>https://piclar.com</string>
		<key>apiVersion</key>
		<string>1.0</string>
	</dict>
</dict>
</plist>
