{% load media debug static %}<!DOCTYPE html>
<html class="no-js{% block htmlclasses %}{% endblock %}" lang="ru-RU">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Ostronaut{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}Because Instagram is way too mainstream.{% endblock %}">
    <meta name="author" content="Ostrovok.ru">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% get_static_prefix %}mobile/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% get_static_prefix %}mobile/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{% get_static_prefix %}mobile/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="{% get_static_prefix %}mobile/apple-touch-icon.png">
    <link rel="shortcut icon" href="{% get_static_prefix %}favicon.ico">

    <link rel="apple-touch-startup-image" sizes="320x460" href="{% get_static_prefix %}mobile/img/glob/startup.jpg">
    <link rel="apple-touch-startup-image" sizes="640x920" href="{% get_static_prefix %}mobile/img/glob/startup_retina.jpg">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

{% block css %}
    {% include_media 'mobile-global.css' %}
{% endblock %}

{# The script prevents links from opening in mobile safari. https://gist.github.com/1042026 #}
    <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
</head>
<body>
{% block body %}
    {% block header %}
        <header class="l-header" id="l-header">
            <a href="javascript:void(0);" class="l-h-link-left l-h-icon-profile"></a>
            <h1 class="l-h-logo">{% block heading %}Активность{% endblock %}</h1>
            {# <a href="javascript:void(0);" class="l-h-link-right l-h-icon-checkin"></a> #}
        </header>
    {% endblock %}

    {% block content %}
    <section class="l-content" id="l-content">
    </section>
    {% endblock %}

    {% block footer %}
    <footer class="l-footer" id="l-footer">
        Информация о точках предоставлена <a href="https://foursquare.com/" class="l-f-copyrght-fsqlink" target="_blank">foursquare</a>
    </footer>
    {% endblock %}
    
    
{% endblock %}

    {% block overlay_body %}
    <aside class="l-overlay" id="l-overlay">{% block overlay %}{% endblock %}</aside>
    {% endblock %}

    <aside id="l-loading" class="l-loading"><span class="l-loading-message" data-error="Ошибка!" data-success="Готово!" data-loading="Загрузка...">Загрузка...</span></aside>

    <ul class="l-notifications" id="l-notifications"></ul>

    <script>
        var S = {
            env: {
                debug: {% ondebug %}true{% endondebug %}{% onprod %}false{% endonprod %},
                pageid: '{% block pageid %}null{% endblock %}'
            },
            {% if user.is_authenticated %}user: {{ user.get_profile.get_profile_data|dict_to_json }},{% endif %}
            urls: {
                index: '{% url mobile_index %}',
                static: '{{ STATIC_URL }}',
                oauth: '{% url api_person 'json' %}',
                comments: '{% url feed-comments %}',
                subscriptions: '{% url person-subscription %}',
                like: '{% url feed-like action="like" %}',
                notifications_markread: '{% url notifications-mark-read %}',
                feedback: '{% url feedback %}'
            },
            pages: {},
            messages: [{% for message in messages %}{ type:'{{ message.tags }}', text: '{{ message }}' }{% if not forloop.last %},{% endif %}{% endfor %}],
            data: {% block json_data %}{}{% endblock %}
        };
    </script>

    {% block js %}
        {% include_media 'mobile-global.js' %}
    {% endblock %}
</body>
</html>
