.p-users-fill-email {
    padding: 40px 0;
    color: #535353;

    .p-u-f-e-heading {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 24px;
    }

    .b-usercard {
        margin-top: 30px;
    }

    .p-u-f-e-form {
        width: 450px;
        margin-top: 30px;

        .p-u-f-e-row {
            margin-bottom: 10px;
        }

        .p-u-f-e-label {
            width: 180px;
            margin-right: 10px;
            display: inline-block;

            font-size: 14px;
            line-height: 40px;
            color: #919191;
            text-align: right;
        }

        .m-validate-container-nonfield {
            margin-bottom: 15px;
        }

        .p-u-f-e-submit {
            overflow: hidden;

            .button {
                float: right;
            }
        }
    }
}
