{% extends "blocks/base/base.html" %}

{% block content %}
<section class="l-content p-users-fill-email s-wrap" id="l-content">
    <h2 class="p-u-f-e-heading">Дополните информацию о себе</h2>
    {% include "blocks/block-usercard/b-usercard.html" %}
    
    <form action="" class="p-u-f-e-form" method="POST">
        <p class="p-u-f-e-row m-validate-container" data-for="email">
            <label class="p-u-f-e-label">Адрес эл. почты:</label>
            <input type="email" name="email" class="p-u-f-e-email"
                autocapitalize="off" data-validate="true" data-enabling="true" data-filter="email" data-error="Введите правильный адрес эл. почты" placeholder="Адрес электронной почты" value="{{ formset.email.value }}" required>
            {% include "blocks/module-validate/m-validate-error.html" with input=formset.email %}
        </p>
        <p class="p-u-f-e-row m-validate-container" data-for="password">
            <label class="p-u-f-e-label">Пароль:</label>
            <input type="password" name="password" class="p-u-f-e-passwordl"
               autocapitalize="off" data-validate="true" data-enabling="true" data-error="Укажите пароль" placeholder="Пароль" value="{{ formset.password.value }}" required>
            {% include "blocks/module-validate/m-validate-error.html" with input=formset.password %}
        </p>

        {% include "blocks/module-validate/m-validate-error-nonfield.html" with form=formset %}
        {% csrf_token %}

        <p class="p-u-f-e-submit">
            <button class="button blue" disabled><span>Завершить регистрацию</span></button>
        </p>
    </form>

</section>
{% endblock %}
