/* @require 'blocks/block-parallax/b-parallax.scss' */

@import 'css/mixins.scss';

html.errorsplash {
    width: 100%;
    height: 100%;

    overflow: hidden;
    background: #173152 url('img/errors/bglight.png') no-repeat center center;

    body {
        background: none;
    }
}

.p-error500 {
    .p-e-spacecontainer {
        width: 960px;
        height: 600px;

        margin-left: -480px;
        margin-top: -300px;

        position: absolute;
        left: 50%;
        top: 50%;

        .p-e-space {
            position: relative;
        }
    }

    .p-e-sun {
        width: 435px;
        height: 642px;

        margin-left: 100%;
        left: -247px;
        top: -100px;

        background: url('img/errors/sun.png') no-repeat;
    }

    .p-e-earth {
        width: 51px;
        height: 48px;

        left: 300px;
        top: 20px;
        
        background: url('img/errors/earth.png') no-repeat;
    }

    .p-e-deathstar {
        width: 89px;
        height: 90px;

        left: 690px;
        top: 480px;

        background: url('img/errors/deathstar.png') no-repeat;
    }  

    .p-e-ship {
        width: 90px;
        height: 73px;

        left: 40px;
        top: 390px;

        background: url('img/errors/ship.png') no-repeat;
    }

    .p-e-astronaut_unplugged {
        width: 541px;
        height: 429px;

        left: 110px;
        top: 80px;

        background: url('img/errors/astronaut_unplugged.png') no-repeat;
    }

    .p-e-ohnoes {
        width: 331px;
        height: 34px;

        left: 240px;
        top: 530px;

        background: url('img/errors/ohnoes.png') no-repeat;
    }

    // .p-e-bottomcopy {
    //     width: 300px;

    //     left: 300px;
    //     top: 500px;

    //     font-weight: 300;
    //     font-size: 13px;

    //     color: #fff;
    // }
}
