@import 'css/mixins.scss';

.b-registration-greeting{
    width: 600px;
    margin: 0 auto;

    padding: 15px;

    position: relative;

    color: #535353;

    background: #f5f5f5;

    .b-r-g-header {
        .b-r-g-heading {
            margin-right: 5px;
            padding-right: 10px;
            display: inline-block;

            border-right: 1px solid #d0d0d0;

            font-size: 24px;
            line-height: 30px;
            font-weight: 300;

            text-transform: uppercase;
        }

        .b-r-g-link-login {
            font-size: 12px;
        }

        .b-r-g-link-close {
            margin: 3px 6px;

            position: absolute;
            right: 0;
            top: 0;

            color: #919191;

            &:before {
                margin-right: 5px;
                content: "";
                display: inline-block;

                @include sprite('/img/sprites/misc/cross.png');
            }
        }

        a {
            color: #0076a3;
            font-weight: normal;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .b-r-g-greetings {
        margin-top: 30px;

        .b-r-g-greetings-headline {
            font-size: 16px;
        }

        .b-r-g-greetings-text {
            margin-top: 10px;
            font-size: 14px;
        }

    }

    .b-r-g-vkopt {
        margin: 15px 0;
    }
}
