.p-users-resetpassword-done {
    padding: 40px 0;
    color: #535353;

    .p-u-r-heading {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 24px;
    }

    .p-u-r-explain {
        width: 600px;
        margin-top: 20px;
    }

}
