@import 'css/mixins.scss';
.l-header {
    height: 41px;
    padding: 10px;

    position: relative;

    border-bottom: 1px solid #dfdfdf;

    @include horizontal-gradient(#f9f9f9, #efefef);
    @include box-sizing(border-box);

    .l-header-logo {
        width: 200px;
        height: 20px;

        margin: 0 auto;

        text-align: left;
        text-indent: -100%;
        overflow: hidden;

        background: hotpink;
    }

    .l-header-link-profile,
    .l-header-link-checkin {
        margin: 10px;

        display: block;

        position: absolute;
        left: 0;
        top: 0;

        @include sprite('/mobile/img/header/profile.png', 0.5);
    }

    .l-header-link-checkin {
        left: auto;
        right: 0;
        @include sprite('/mobile/img/header/checkin.png', 0.5);
    }
}
