@import 'css/mixins.scss';

.b-activity-story {
    .b-a-s-header {
        margin: 0 10px;
        overflow: hidden;

        .b-a-s-h-userpicwrap {
            width: 30px;
            height: 30px;

            margin: 5px;

            display: block;

            float: left;

            .b-a-s-h-userpic {
                width: 30px;
                height: 30px;

                display: block;

                @include border-radius(15px);
                @include box-shadow(0 0 0 2px rgba(255, 255, 255, 1), 0 1px 2px 2px rgba(0, 0, 0, .3));
            }
        }

        .b-s-a-h-meta {
            margin-left: 42px;
            padding-top: 4px;

            line-height: 15px;

            .b-s-a-h-what {
                > a {
                    color: #000;
                    font-weight: bold;
                }
            }
            .b-s-a-h-when {
                color: #aaa;
                font-size: 9px;

                .b-a-s-place-cat {
                    margin-right: 4px;
                    display: inline-block;
                    vertical-align: middle;

                    &.unknown {
                        @include sprite('/mobile/img/sprites/category/unknown.png', 0.5);
                    }
                    &.attraction {
                        @include sprite('/mobile/img/sprites/category/attraction.png', 0.5);
                    }
                    &.entertainment {
                        @include sprite('/mobile/img/sprites/category/entertainment.png', 0.5);
                    }
                    &.hotel {
                        @include sprite('/mobile/img/sprites/category/hotel.png', 0.5);
                    }
                    &.restaurant {
                        @include sprite('/mobile/img/sprites/category/restaurant.png', 0.5);
                    }
                }

                .f-humanized-date {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }

    .b-a-s-content {
        margin: 10px;

        .b-a-s-img {
            width: 100%;
            height: 100%;

            @include box-shadow(0 0 5px rgba(0, 0, 0, .3));
        }

        .b-a-s-stats {
            margin-top: 10px;
            overflow: hidden;

            .b-a-s-review {
                width: 70%;
                float: left;
            }

            .b-a-s-controls {
                width: 100px;
                float: right;
                text-align: right;

                > li {
                    margin: 3px 3px 3px 10px;
                    display: inline-block;
                    vertical-align: top;
                }

                .b-a-s-c-link {
                    width: 30px;
                    height: 30px;

                    display: inline-block;

                    @include border-radius(15px);
                    @include box-shadow(0 0 0 2px rgba(255, 255, 255, 1), 0 1px 2px 2px rgba(0, 0, 0, .3));

                    text-align: center;
                    font-size: 11px;
                    line-height: 30px;
                    color: #fff;

                    &.b-a-s-c-like {
                        background: #ebe6e8 url('mobile/img/story/like.png') no-repeat center center;
                        @include background-size(22px 19px);
                    }
                    &.b-a-s-c-like.liked {
                        background: #ebe6e8 url('mobile/img/story/unlike.png') no-repeat center center;
                        @include background-size(22px 19px);
                    }
                    &.b-a-s-c-comment {
                        background: #ebe6e8 url('mobile/img/story/comment.png') no-repeat center 7px;
                        @include background-size(23px 20px);
                    }
                }
            }
        }
    }
}
