@import 'css/mixins.scss';

.b-users_list {
    .b-u-l-item {
        overflow: hidden;
        border-bottom: 1px solid #dfdfdf;
        border-top: 1px solid #fff;

        &:first-child {
            border-top: none;
        }
        &:last-child {
            border-bottom: none;
        }
    }

    .b-u-l-userpicwrap {
        width: 30px;
        height: 30px;

        padding: 10px;
        display: block;

        float: left;

        .b-u-l-userpic {
            width: 30px;
            height: 30px;

            display: block;

            @include border-radius(15px);
            @include box-shadow(0 0 0 2px rgba(255, 255, 255, 1), 0 1px 2px 2px rgba(0, 0, 0, .3));
        }
    }

    .b-u-l-userdata {
        margin-left: 50px;
        margin-top: 7px;
        padding-right: 85px;
        position: relative;

        .b-u-l-username {
            font-weight: bold;
            font-size: 12px;
            color: #5c5c5c;
        }
        .b-u-l-userlocation {
            display: block;
            color: #b6b6b6;
        }

        .b-u-l-control {
            position: absolute;
            right: 10px;
            top: 4px;

            @include box-shadow(0 0 0 2px rgba(255, 255, 255, 1), 0 1px 2px 2px rgba(0, 0, 0, .3));
            @include border-radius(13px);

            .follow {
                display: none;
                background: url('mobile/img/profile/follow_small.png') no-repeat center center;
                @include background-size(26px 26px);
            }

            .unfollow {
                display: none;
                background: url('mobile/img/profile/unfollow_small.png') no-repeat center center;
                @include background-size(26px 26px);
            }
        }
    }

    .b-u-l-item.follow .follow,
    .b-u-l-item.following .unfollow {
        width: 26px;
        height: 26px;
        display: block;
    }
}
