@import 'css/mixins.scss';

.f-stars {
    font-family: Helvetica, 'DejaVu Sans', 'Arial Unicode MS', 'Lucida Sans Unicode', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;

    color: #f25f90;

    @include helper_noselect();

    > s {
        text-decoration: none;
        color: #cacaca;
    }
}
