@import 'css/mixins.scss';

button,
.button {
    margin: 0;
    padding: 0 0 1px 0;
    
    display: inline-block;

    overflow: visible;
    
    border: none;
    outline: none;
    background: none;
    
    @include box-shadow(none);
    @include border-radius(0);
    @include helper_noselect();
    @include touch-callout(none);
    @include box-sizing(border-box);
}

.button {
    width: 280px;

    margin: 0 auto;
    padding: 10px;

    display: block;

    @include box-sizing(border-box);
    @include border-radius(6px);

    font-weight: bold;
    font-size: 15px;

    text-align: center;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &.small {
        width: auto;
        margin: 0;
        padding: 6px 5px;
        display: inline-block;

        @include box-sizing(content-box);
        // @include border-radius(15px);
        font-size: 11px;
        line-height: 12px;
    }
}

.button.gray {
    border: 1px solid #c7c7c7;
    @include vertical-gradient(#efefef, #e1e1e1);
    @include box-shadow(0 1px 0 0 rgba(255, 255, 255, .6) inset, 0 1px 0 0 rgba(255, 255, 255, .9));
    color: #f25f90;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);

    &:active {
        @include vertical-gradient(#d0cfcf, #eeeeee);
    }
}

.button.blue {
    border: 1px solid #497098;
    @include vertical-gradient(#5f83ab, #3f6898);
    @include box-shadow(0 1px 0 0 rgba(255, 255, 255, .4) inset, 0 1px 0 0 rgba(255, 255, 255, .8));
    color: #f8f8f9;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .7);

    &:active {
        @include vertical-gradient(#547ca6, #5f83ab);
    }
}

.button.green {
    border: 1px solid #226b0c;
    @include vertical-gradient(#a3ce62, #489d18);
    @include box-shadow(0 1px 0 0 rgba(0, 0, 0, .1) inset, 0 1px 0 0 rgba(255, 255, 255, .8));
    color: #f8f8f9;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .6);

    &:active {
        @include vertical-gradient(#5aa41e, #a3ce62);
    }

    &.small {
        @include border-radius(15px);
    }
}
