@import 'css/mixins.scss';

input,
input[type="text"],
textarea {
    margin: 0;
    padding: 0;

    outline: none;
    
    border: none;
    -webkit-appearance: none; /* Remove default shadow */

    &:focus {
        outline: none;
    }
}
input,
input[type="text"],
input[type="search"],
textarea {
    /* important! check all textarea styles in m.textarea.autogrow! */
    width: 100%;
    padding: 10px;

    display: block;

    @include border-radius(10px);
    @include box-sizing(border-box);
    
    font-weight: bold;
    font-size: 16px;

    color: #000;
    
    @include placeholder-color(#ccc);
    @include placeholder-text-shadow(0 1px 0 rgba(255, 255, 255, 1));
}
textarea {
    padding: 5px 7px;
    font-size: 14px;
    resize: none;
}
input.error,
textarea.error {
    @include box-shadow(0 0 5px 0 rgba(255, 0, 0, .5) inset);
}
input[type="search"]:focus {
    @include border-radius(3px);
}
