@import 'css/mixins.scss';

input,
input[type="text"],
textarea {
    margin: 0;
    padding: 0;

    outline: none;
    
    border: none;
    -webkit-appearance: none; /* Remove default shadow */

    &:focus {
        outline: none;
    }
}
input,
input[type="text"],
input[type="search"],
textarea {
    /* important! check all textarea styles in mod.textarea.autogrow! */
    width: 100%;
    padding: 10px;

    @include box-shadow(0 0 2px 0 rgba(0, 0, 0, .1) inset, 0 1px 0 0 rgba(255, 255, 255, .7));

    @include border-radius(2px);

    @include box-sizing(border-box);
    
    font-size: 20px;
    
    color: #555;
    
    @include placeholder-color(#ccc);
    @include placeholder-text-shadow(0 1px 0 rgba(255, 255, 255, 1));
}
textarea {
    resize: none;
}
input.error,
textarea.error {
    @include box-shadow(0 0 5px 0 rgba(255, 0, 0, .5) inset);
}
input[type="search"]:focus {
    @include border-radius(3px);
}
