@import 'css/mixins.scss';

.m-photofeed {
    width: 318px;
    margin: 0 auto;

    .m-p-controls {
        height: 40px;
        margin: 5px 10px;
        padding: 0 15px;

        overflow: hidden;

        background: #e7e7e7;

        font-weight: bold;
        font-size: 16px;
        line-height: 40px;
        color: #7f7f7f;

        @include box-shadow(0 0 0 3px rgba(255, 255, 255, 1), 0 1px 2px 3px rgba(0, 0, 0, .3));
        @include border-radius(20px);
        @include helper_noselect();

        .m-p-title {
            width: 160px;
            float: left;
        }

        .m-p-options {
            width: 65px;
            margin-top: 11px;

            float: right;

            text-align: right;
        }

        .m-p-option-table {
            display: inline-block;
            vertical-align: top;

            margin-right: 20px;
            
            @include sprite('/mobile/img/sprites/photofeed/table_active.png', 0.5);
        }
        .m-p-option-list {
            display: inline-block;
            vertical-align: top;

            @include sprite('/mobile/img/sprites/photofeed/list.png', 0.5);
        }

        &.list-view {
            .m-p-option-table {
                @include sprite('/mobile/img/sprites/photofeed/table.png', 0.5);
            }
            .m-p-option-list {
                @include sprite('/mobile/img/sprites/photofeed/list_active.png', 0.5);
            }
        }
    }

    .m-p-list {
        margin-top: 10px;
        overflow: hidden;

        .m-p-item {
            width: 96px;
            margin: 5px;

            display: block;
            float: left;

            @include box-shadow(0 1px 2px rgba(0, 0, 0, .3));

            .m-p-imgwrap {
                display: block;
            }
            .m-p-img {
                width: 100%;
                display: block;
            }
        }

        &.list-view {
            .m-p-item {
                width: auto;
                float: none;
            }
        }
    }
}
