@import 'css/mixins.scss';

.m-validate-error {
    margin-top: 10px;
    padding: 6px 10px;

    display: block;
    
    background: rgba(200, 0, 0, .05);
    border: 1px solid rgba(200, 0, 0, .2);
    
    border-radius: 3px;
    
    font-size: 12px;
    line-height: 16px;
    
    color: #700;

    @include helper_noselect();
    @include touch-callout(none);

    &:first-child {
        margin-top: 0;
    }
}
