@import 'css/mixins.scss';

html.splash-error {
    @include vertical-gradient(#f9f9f9, #efefef);
}

.p-error404 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    color: #999;
    text-align: center;

    .p-e-logo {
        width: 186px / 2;
        height: 53px / 2;

        margin: 60px auto 0;

        text-align: left;
        text-indent: -9999px;
        overflow: hidden;

        background: url('mobile/img/misc/logo.png') no-repeat;
        background-size: 186px / 2 53px / 2;
    }

    .p-e-message {
        margin: 90px 10px 0;
        
        font-size: 14px;
        line-height: 18px;
    }
}
