@import 'css/mixins.scss';

.p-fill-email {
    padding: 10px;

    text-align: center;
    color: #ccc;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);

    .p-f-e-heading {
        margin-top: 30px;
        position: relative;

        font-weight: normal;
        font-size: 24px;
    }

    .p-f-e-inputs {
        min-height: 85px;
        margin-top: 60px;
    }

    .p-f-e-button {
        margin-top: 50px;
    }

    input {
        width: 90%;

        margin: 0 auto;

        display: block;

        background: none;
        @include border-radius(0);

        text-align: center;

        border-bottom: 1px solid #d9d9d9;
        @include box-shadow(0 1px 0 rgba(255, 255, 255, 1));

        font-weight: normal;
        font-size: 16px;
        color: #ccc;

        &:last-child {
            border-bottom: none;
            @include box-shadow(none);
        }
    }

    .p-f-e-errors {
        margin-top: 10px;
    }

    .m-validate-error {
        padding: 0;

        background: none;
        border: none;
        
        color: #ea8484;

        @include border-radius(0);
    }
}
