@import 'css/mixins.scss';

html.splash-login {
    @include vertical-gradient(#f9f9f9, #efefef);
}

.p-login {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    color: #ccc;
    text-align: center;

    .p-login-logo {
        margin: 60px auto 0;

        font-weight: normal;
        font-size: 34px;
        line-height: 34px;
    }

    .p-login-heading {
        margin-top: 90px;
        font-weight: normal;
        font-size: 24px;
    }

    .p-login-methods {
        margin-top: 20px;
    }
    .p-login-method {
        margin-right: 10px;
        display: inline-block;

        &:last-child {
            margin-right: 0;
        }

        // &.p-login-vk:active {
        //     @include border-radius(8px);
        //     @include box-shadow(0 0 20px rgba(255, 255, 255, 1));
        // }

        // &.p-login-email:active {
        //     @include border-radius(20px);
        //     @include box-shadow(0 0 20px rgba(255, 255, 255, 1));
        // }
    }

    .p-login-icon {
        display: inline-block;
        text-align: left;
        text-indent: -110%;
        overflow: hidden;
    }
    .p-login-link-vk {
        @include sprite('/mobile/img/sprites/common/vk.png', 0.5);
    }
    .p-login-link-email {
        @include sprite('/mobile/img/sprites/common/mail.png', 0.5);
    }

    .p-login-email-form {
        display: none;
    }

    .p-login-registration {
        margin-top: 120px;
    }
        .p-login-link-registration {
            font-weight: normal;
            font-size: 16px;
        }
}

.p-login-overlay {
    padding: 10px;

    text-align: center;
    color: #ccc;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);

    .p-l-o-heading {
        margin-top: 50px;
        position: relative;

        font-weight: normal;
        font-size: 24px;

        .l-overlay-close {
            margin-left: 10px;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .p-l-o-inputs {
        min-height: 85px;
        margin-top: 80px;
    }

    .p-l-o-button {
        margin-top: 70px;
    }

    .p-l-o-form {
        display: none;
    }

    &.login .p-l-o-emaillogin,
    &.registration .p-l-o-registration {
        display: block;
    }

    input {
        width: 90%;

        margin: 0 auto;

        display: block;

        background: none;
        @include border-radius(0);

        text-align: center;

        border-bottom: 1px solid #d9d9d9;
        @include box-shadow(0 1px 0 rgba(255, 255, 255, 1));

        font-weight: normal;
        font-size: 16px;
        color: #ccc;

        &:last-child {
            border-bottom: none;
            @include box-shadow(none);
        }
    }
}
