@import 'css/mixins.scss';

html.splash-login-oauth {
    min-height: 100%;
    @include vertical-gradient(#f9f9f9, #efefef);
}

.p-users-login-oauth {
    padding: 60px 20px;

    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    color: #ccc;
    text-align: center;

    font-size: 14px;
    line-height: 18px;

    &.success .p-u-l-o-message-loading,
    &.failed .p-u-l-o-message-loading {
        display: none;
    }
    .p-u-l-o-message-success {
        display: none;
    }
    .p-u-l-o-message-failed {
        display: none;
    }

    &.success .p-u-l-o-message-success {
        display: block;
    }

    &.failed .p-u-l-o-message-failed {
        display: block;
    }
}
