@import 'css/mixins.scss';

.p-login-email {
    padding: 10px;

    text-align: center;
    color: #ccc;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);

    .p-l-e-header {
        position: relative;
        margin-top: 30px;

        .p-l-e-link-back {
            margin: 3px 5px;

            display: block;

            position: absolute;
            left: 0;
            top: 0;
            @include sprite('/mobile/img/sprites/header/back_button.png', 0.5);
        }

        .p-l-e-heading {
            font-weight: normal;
            font-size: 24px;
        }
    }

    .p-l-e-inputs {
        min-height: 85px;
        margin-top: 60px;

        background: #fcfcfc;
        border: 1px solid #c6c6c6;
        @include box-shadow(0 1px 0 rgba(255, 255, 255, 1));
        @include border-radius(10px);
    }

    .p-l-e-button {
        margin-top: 50px;
    }

    input {
        border-bottom: 1px solid #c6c6c6;
        
        @include border-radius(0);

        &:first-child {
            @include border-radius(10px 10px 0 0);
        }

        &:last-child {
            @include border-radius(0 0 10px 10px);
            border-bottom: none;
        }
    }

    .p-l-e-errors {
        margin-top: 10px;
    }
}
