@import 'css/mixins.scss';

html.splash-login {
    @include vertical-gradient(#f9f9f9, #efefef);
}

.p-login {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    color: #ccc;
    text-align: center;

    .p-l-logo {
        width: 186px / 2;
        height: 53px / 2;

        margin: 60px auto 0;

        text-align: left;
        text-indent: -9999px;
        overflow: hidden;

        background: url('mobile/img/misc/logo.png') no-repeat;
        background-size: 186px / 2 53px / 2;
    }

    .p-l-options {
        margin-top: 90px;
        .p-l-o-item {
            margin-bottom: 30px;
        }

        .p-l-o-butt {
            padding-left: 60px;
            position: relative;
            text-align: left;

            &:before {
                width: 31px / 2;
                height: 36px / 2;

                content: "";
                position: absolute;
                left: 15px;
                top: 10px;

                background: url('mobile/img/misc/vk_icon.png') no-repeat;
                background-size: 31px / 2 36px / 2;
            }

            &:after {
                width: 0;
                height: 100%;

                content: "";
                position: absolute;
                left: 42px;
                top: 0;

                border-left: 1px solid #37608b;
                border-right: 1px solid #6e94bd;
            }
        }
    }
}
