@import 'css/mixins.scss';

.p-login {
    text-align: center;

    .p-l-intro {
        width: 200px;
        margin: 20px auto 0;
        .p-l-i-image {
            width: 188px;
            height: 188px;

            display: inline-block;

            border-radius: 94px;
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 1px 2px 2px rgba(0, 0, 0, .3);

            background: url('mobile/img/misc/login_envelope.png') no-repeat;
            background-size: 188px 188px;
        }

        .p-l-i-greeting {
            margin-top: 10px;
            display: block;

            color: #5c5c5c;
            font-size: 15px;
            line-height: 20px;
        }
    }

    .p-l-options {
        margin-top: 30px;

        .p-l-o-butt {
            padding-left: 60px;
            position: relative;
            text-align: left;

            &:before {
                width: 16px;
                height: 18px;

                content: "";
                position: absolute;
                left: 15px;
                top: 10px;

                background: url('mobile/img/misc/vk_icon.png') no-repeat;
                background-size: 16px 18px;
            }

            &:after {
                width: 0;
                height: 100%;

                content: "";
                position: absolute;
                left: 42px;
                top: 0;

                border-left: 1px solid #37608b;
                border-right: 1px solid #6e94bd;
            }
        }
    }
}
