@import 'css/mixins.scss';

.p-place {

    .p-p-map {
        width: 300px;
        height: 110px;

        margin: 10px auto 0;
        display: block;

        @include border-radius(10px);
        border: 1px solid #c6c6c6;
        @include box-shadow(0 1px 0 rgba(255, 255, 255, 1));

        .p-p-mapimage {
            width: 300px;
            height: 110px;
            display: block;
            @include border-radius(10px);
        }
    }

    .p-p-description {
        width: 300px;
        margin: 20px auto;
        overflow: hidden;

        .p-p-d-cat {
            margin: 2px;
            float: left;

            @include box-shadow(0 0 0 1px rgba(255, 255, 255, 1), 0 1px 1px 1px rgba(0, 0, 0, .3));
            @include border-radius(30px);

            &.unknown {
                @include sprite('/mobile/img/sprites/category/unknown_big.png', 0.5);
            }
            &.attraction {
                @include sprite('/mobile/img/sprites/category/attraction_big.png', 0.5);
            }
            &.entertainment {
                @include sprite('/mobile/img/sprites/category/entertainment_big.png', 0.5);
            }
            &.hotel {
                @include sprite('/mobile/img/sprites/category/hotel_big.png', 0.5);
            }
            &.restaurant {
                @include sprite('/mobile/img/sprites/category/restaurant_big.png', 0.5);
            }
        }

        .p-p-d-title {
            margin-left: 35px;
            color: #5d5d5d;
            font-size: 14px;

            .p-p-d-name {
                display: block;
            }
            .p-p-d-rating {
                display: block;
            }
        }
        
    }

    .p-p-title {
        text-align: center;

        font-size: 14px;
        line-height: 18px;

        .p-p-name {
            margin-top: 5px;
            display: block;
        }
    }
}
