@import 'css/mixins.scss';

.p-p-usercard {
    padding: 20px;
    overflow: hidden;

    .p-p-userpic {
        width: 60px;
        height: 60px;

        display: block;
        float: left;

        @include border-radius(30px);
        @include box-shadow(0 0 0 2px rgba(255, 255, 255, 1), 0 0 0 3px #f25f90);
    }

    .p-p-userinfo {
        margin-left: 80px;

        position: relative;

        .p-p-username {
            display: block;

            font-weight: bold;
            font-size: 14px;

            color: #000;
        }

        .p-p-location {
            font-style: normal;
            font-size: 10px;
            text-transform: uppercase;
            color: #ccc;
        }

        .p-p-userstats {
            margin-top: 10px;

            color: #555;
            font-size: 12px;
            line-height: 14px;

            .p-p-u-item {
                margin-bottom: 5px;
            }
        }

        .p-p-subscriptions {
            position: absolute;
            right: 0;
            top: 0;

            > a {
                display: inline-block;
                color: #f25f90;

                font-size: 10px;
                line-height: 32px;
                text-align: center;
                text-indent: -3px; // compensate for right bubble on the icon
            }

            .p-p-s-followers {
                margin-right: 10px;
                @include sprite('/mobile/img/sprites/profile/followers.png', 0.5);
            }
            .p-p-s-following {
                @include sprite('/mobile/img/sprites/profile/following.png', 0.5);
            }
        }
    }
}
