@import 'css/mixins.scss';

.p-profile {
    .p-p-usercard {
        text-align: center;

        .p-p-userpic {
            width: 90px;
            height: 90px;

            margin: 20px auto;

            display: block;

            @include box-shadow(0 0 0 3px rgba(255, 255, 255, 1), 0 1px 2px 3px rgba(0, 0, 0, .3));
            @include border-radius(45px);
        }

        .p-p-userinfo {
            font-size: 14px;
            line-height: 18px;

            .p-p-username {
                display: block;
            }
        }
    }

    .p-p-subscriptions {
        width: 160px;
        margin: 20px auto;

        > a {
            width: 60px;
            height: 60px;

            margin-left: 40px;

            display: block;
            float: left;

            @include box-shadow(0 0 0 3px rgba(255, 255, 255, 1), 0 1px 2px 3px rgba(0, 0, 0, .3));
            @include border-radius(30px);

            background: #e7e7e7;

            text-align: center;

            color: #7f7f7f;
            font-weight: bold;
            font-size: 8px;
            line-height: 10px;

            &.first {
                margin-left: 0 !important;
            }

            &.p-p-s-follow {
                background: #78b6e5;
                font-size: 72px;
                color: #fff;

                span {
                    margin-top: 16px;
                }

                .unfollow {
                    display: none;
                }

                &.following {
                    .follow {
                        display: none;
                    }
                    .unfollow {
                        display: block;
                    }
                }
            }

            span {
                margin-top: 20px;
                display: block;

                em {
                    display: block;
                    font-style: normal;
                    font-size: 17px;
                }
            }
        }

        &.subscribable {
            width: 220px;

            > a {
                margin-left: 20px;
            }
        }
    }
}
