@import 'css/mixins.scss';

$header_height: 41px;

.l-header {
    height: $header_height;

    position: relative;

    border-bottom: 1px solid #c6c6c6;

    @include vertical-gradient(#fff, #f7f7f7);
    @include box-sizing(border-box);

    @include helper_noselect();

    text-align: center;

    .l-h-logolink {
        display: inline-block;
        
    }

    .l-h-logo {
        width: 115px;
        height: $header_height;
        margin: 0 50px;
        padding: 0 15px;

        display: inline-block;
        position: relative;

        overflow: hidden;
        text-indent: -999px;

        background: url('mobile/img/header/logo.png') no-repeat center center;

        background-size: 115px 18px;
        
        &.title {
            width: auto;
            text-indent: 0;
            background: none;

            text-overflow: ellipsis;

            font-weight: normal;
            font-size: 18px;
            line-height: $header_height;
            text-align: center;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
            color: #d45258;
        }
    }

    .l-h-notifications {
        margin-top: 5px;
        padding: 3px;
        position: absolute;
        right: 0;
        top: 0;

        background: #41aae6;

        font-style: normal;
        font-size: 10px;
        line-height: 10px;
        color: #fff;
        text-indent: 0;
        text-shadow: none;

        &:after {
            margin-top: -5px;
            content: "";
            position: absolute;
            left: 3px;
            top: 100%;

            border-left: 5px solid #41aae6;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
        }
    }

    .l-h-link-left,
    .l-h-link-right {
        margin: 10px 12px;

        display: block;

        position: absolute;
        left: 0;
        top: 0;
    }
    .l-h-link-right {
        left: auto;
        right: 0;
    }
    .l-h-iconless-butt {
        // font-weight: bold;
        font-size: 13px;
        line-height: 20px;
        color: #d45258;
    }
    .l-h-icon-profile {
        width: 32px;
        height: 32px;

        top: -6px;
        
        background: url('mobile/img/header/profile.png') no-repeat;
        background-size: 32px 32px;
    }
    .l-h-icon-back {
        width: 9px;
        height: 14px;

        top: 3px;
        background: url('mobile/img/header/back_button.png') no-repeat;
        background-size: 9px 14px;
    }
    .l-h-icon-settings {
        width: 27px;
        height: 27px;

        top: -3px;

        background: url('mobile/img/header/settings.png') no-repeat;
        background-size: 27px 27px;
    }
    .l-h-icon-cross {
        width: 27px;
        height: 27px;

        top: -3px;

        background: url('mobile/img/header/cross.png') no-repeat;
        background-size: 27px 27px;
    }
    .l-h-icon-map {
        width: 27px;
        height: 27px;

        top: -3px;

        background: url('mobile/img/header/map.png') no-repeat;
        background-size: 27px 27px;
    }
}
