@import 'css/mixins.scss';

.l-header {
    height: 41px;

    position: relative;

    border-bottom: 1px solid #dfdfdf;

    @include horizontal-gradient(#f9f9f9, #efefef);
    @include box-sizing(border-box);

    @include helper_noselect();

    .l-h-logo {
        margin: 0 auto;
        padding: 0 50px;

        overflow: hidden;
        text-overflow: ellipsis;

        font-weight: normal;
        font-size: 18px;
        line-height: 41px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
        color: #f25f90;
    }

    .l-h-link-left,
    .l-h-link-right {
        margin: 10px 12px;

        display: block;

        position: absolute;
        left: 0;
        top: 0;
    }
    .l-h-link-right {
        left: auto;
        right: 0;
    }
    .l-h-icon-profile {
        width: 22px;
        height: 21px;
        
        background: url('mobile/img/header/profile.png') no-repeat;
        background-size: 22px 21px;
    }
    .l-h-icon-checkin {
        width: 23px;
        height: 23px;

        background: url('mobile/img/header/checkin.png') no-repeat;
        background-size: 23px 23px;
    }
    .l-h-icon-back {
        width: 9px;
        height: 14px;

        top: 3px;
        background: url('mobile/img/header/back_button.png') no-repeat;
        background-size: 9px 14px;
    }
    .l-h-icon-logout {
        width: 19px;
        height: 20px;

        background: url('mobile/img/header/logout.png') no-repeat;
        background-size: 19px 20px;
    }
    .l-h-icon-settings {
        width: 19px;
        height: 19px;

        background: url('mobile/img/header/settings.png') no-repeat;
        background-size: 19px 19px;
    }
}

.l-footer {
    padding: 10px 0;
    text-align: center;

    font-size: 10px;
}
