{% extends "blocks/base/base.html" %}

{% block content %}
<section class="l-content p-users-credentials-edit s-wrap" id="l-content">
    <h2 class="p-u-c-e-heading">Ваши данные</h2>

    <form action="" class="p-u-c-e-form" method="POST">
        <p class="p-u-c-e-row m-validate-container" data-for="email">
            <label class="p-u-c-e-label">Адрес эл. почты:</label>
            <input type="email" name="email" class="p-u-c-e-email"
                autocapitalize="off" data-validate="true" data-enabling="true" data-filter="email" data-error="Введите правильный адрес эл. почты" placeholder="Адрес электронной почты" value="{{ formset.email.value }}" required>
            {% include "blocks/module-validate/m-validate-error.html" with input=formset.email %}
        </p>
        <p class="p-u-c-e-row m-validate-container" data-for="oldpassword">
            <label class="p-u-c-e-label">Старый пароль:</label>
            <input type="password" name="oldpassword" class="p-u-c-e-oldpassword"
                autocapitalize="off" data-validate="true" data-enabling="true" data-error="Введите пароль" placeholder="Старый пароль" value="{{ formset.oldpassword.value }}" required>
            {% include "blocks/module-validate/m-validate-error.html" with input=formset.oldpassword %}
        </p>
        <p class="p-u-c-e-row m-validate-container" data-for="password">
            <label class="p-u-c-e-label">Новый пароль:</label>
            <input type="password" name="password" class="p-u-c-e-password" placeholder="Новый пароль">
            {% include "blocks/module-validate/m-validate-error.html" with input=formset.password %}
        </p>
        <p class="p-u-c-e-row m-validate-container" data-for="password2">
            <label class="p-u-c-e-label">Еще раз новый пароль:</label>
            <input type="password" name="password2" class="p-u-c-e-password2" placeholder="Еще разок новый пароль">
            {% include "blocks/module-validate/m-validate-error.html" with input=formset.password2 %}
        </p>

        {% include "blocks/module-validate/m-validate-error-nonfield.html" with form=formset %}
        {% csrf_token %}

        <p class="p-u-c-e-submit">
            <button class="button blue" disabled>Сохранить</button>
        </p>
    </form>

</section>
{% endblock %}
