@import 'css/mixins.scss';

.p-users-friends {
    padding: 40px 0;

    color: #535353;

    .p-u-f-heading {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 24px;
    }

    .p-u-f-listwrap {
        width: 670px;
    }
}
