{% extends "blocks/base/base.html" %}
{% load static %}

{% block content %}
<section class="l-content p-upload" id="l-content">
    <div class="p-u-style">
        <div class="p-u-s-imgcont">
            <img src="{% get_static_prefix %}img/misc/impossibru.jpg" alt="">
            <canvas class="p-u-s-canvas"></canvas>
        </div>
        <div class="p-u-s-filterscont">
            <ul class="p-u-s-filters">
                <li class="p-u-s-f-filter">
                    ass
                </li>
                <li class="p-u-s-f-filter">
                    ass2
                </li>
                <li class="p-u-s-f-filter">
                    ass3
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
