- content_for :html_classes do
  splash

.p-404
  .p-i-bg-wrap
    .p-i-bg-container
      = image_tag('splash_404.jpg', :alt => 'Rome', :class=> 'p-i-bg-img') 

  %a.p-i-logo Piclar

  %h2.p-i-description Вы куда-то не туда зашли.

  = render :partial => 'layouts/footer'
