.p-about.l-wrap
  %h2.p-a-header О&nbsp;нас

  %p Piclar&nbsp;&mdash; самый легкий и&nbsp;оригинальный способ показать, где ты&nbsp;находишься. Фотографируй и&nbsp;оценивай места вокруг себя. Улучшай снимки с&nbsp;помощью фильтров и&nbsp;рамок. Рассказывай о&nbsp;любимых местах ВКонтакте. Оценивай и&nbsp;смотри ленту интересных мест, в&nbsp;которых побывали твои друзей.

  %p Хочешь получить приглашение? Скачай приложение, отправь фотографию с&nbsp;описанием места&nbsp;и, если фото нам понравится, вышлем приглашение.
