- content_for :html_classes do
  splash

.p-index
  .p-i-bg-wrap
    .p-i-bg-container
      = image_tag('splash_index.jpg', :alt => 'Barcelona', :class=> 'p-i-bg-img')

  .p-i-content
    %h1.p-i-logo Piclar

    %h2.p-i-description Поставь на свой iPhone прямо сейчас!

    %a.p-i-itunes{:href=>'https://itunes.apple.com/ru/app/piclar/id600568556?mt=8&uo=4', :target=>'itunes_store'}
      %img{:src=>'http://r.mzstatic.com/images/web/linkmaker/badge_appstore-lrg.gif', :alt=>'Piclar'}


  %span.p-i-iphone

  .p-i-details
    %ul.p-i-d-list
      %li.p-i-d-l-item
        %span.p-i-d-icon.takepic
        Сделай красивую фотографию

      %li.p-i-d-l-item
        %span.p-i-d-icon.checkin
        Открой новые места

      %li.p-i-d-l-item.last
        %span.p-i-d-icon.bangwithfriends
        Поделись с друзьями


  = render :partial => 'layouts/footer'
