{% extends "blocks/base/base.html" %}
{% load static %}

{% block htmlclasses %} landingsplash{% endblock %}

{% block body %}
<section class="l-content block-parallax p-landing-comingsoon" id="l-content">
    <span data-mult="1" class="b-p-elem p-l-c-e-earth"></span>

    <div class="p-l-c-e-spacecontainer">
        <div class="p-l-c-e-space">
            <span data-mult=".5" class="b-p-elem p-l-c-e-deathstar"></span>
            <span data-mult="4" class="b-p-elem p-l-c-e-ship"></span>
            <span data-mult="6" class="b-p-elem p-l-c-e-comingsoon"></span>
        </div>
    </div>
</section>
{% endblock %}
