@import 'css/mixins.scss';

.b-friends-list {
    margin-top: 20px;

    .b-f-l-empty {
        display: none;
    }

    &.empty .b-f-l-empty {
        display: block;
    }

    .b-f-l-friend {
        padding: 10px 20px;
        overflow: hidden;
        background: #fff;

        border-bottom: 1px solid #d9d9d9;

        &:last-child {
            border-bottom: 0;
        }
    }

    .b-f-l-friendinfo {
        width: 420px;
        float: left;

        overflow: hidden;

        .b-f-l-friendpiclink {
            width: 40px;
            height: 40px;
            padding: 5px;

            display: block;
            float: left;
        }

        .b-f-l-friendpic {
            width: 40px;
            height: 40px;

            display: block;

            @include border-radius(20px);
            @include box-shadow(0 0 0 2px rgba(255, 255, 255, 1), 0 0 2px 2px rgba(0, 0, 0, .4));
        }

        .b-f-l-frienddata {
            margin-left: 60px;
            margin-top: 6px;
        }

        .b-f-l-friendname {
            font-size: 14px;
        }
        .b-f-l-friendlocation {
            display: block;
            font-size: 12px;
            color: #919191;
        }
    }

    .b-f-l-friendcontrols {
        width: 174px;
        padding-top: 9px;
        float: right;
        text-align: right;
    }
}
