{% extends "blocks/base/base.html" %}

{% block content %}
<section class="l-content s-wrap p-agreement" id="l-content">
    <header class="p-a-header">
        <h2 class="p-a-heading">Пользовательское соглашение</h2>
    </header>
    <div class="p-a-content">
        <h1>The wildfires are spreading. The meek are scattering.</h1>

        <p>They're the best at what they do and <strong>I'm the best at what I do</strong>. And together it's like, it's on. Sorry, Middle America. Yeah, I said it.</p>

        <p>I tried marriage. <em>I'm 0 for 3 with the marriage thing.</em> So, being a ballplayer &mdash; I believe in numbers. I'm not going 0 for 4. I'm not wearing a golden sombrero.</p>

        <p>You've read about the goddesses, come on. <em>They're an international sensation</em>. These are my girlfriends. These are the women that I love that have completed the three parts of my heart.</p>

        <p>You've read about the goddesses, come on. <strong>They're an international sensation.</strong> These are my girlfriends. These are the women that I love that have completed the three parts of my heart. &hellip; It's a polygamy story. All my guy friends are gonna like throw tomatoes at me. It's like an organic union of the hearts.</p>
    </div>
</section>
{% endblock %}
