{% extends "blocks/base/base.html" %}
{% load static %}
{% block header %}
{% with is_index="True" %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<section class="l-content p-feed-empty s-wrap" id="l-content">
    <div class="p-f-e-content">
        <div class="p-f-e-cta">
            Быстрее скачай приложение Ostronaut
            на свой iPhone и зачекинься!
        </div>

        <aside class="p-f-e-sidebar">
            <a href="{{ appstore_url }}" class="button green" target="_blank">Скачать приложение</a>
            {#% include "blocks/block-suggested-friends/b-suggested-friends.html" %#}
        </aside>
    </div>

    {% include "blocks/block-howto/b-howto.html" %}
{% comment %}    
    <div class="p-f-e-attractions">
        <h2 class="p-f-e-attractions-subheading">
            Твои друзья уже ждут тебя!
        </h2>

        <ul class="p-f-e-attractions-list">
            {% for friend in friends %}
            <li class="p-f-e-attraction{% if forloop.first %} first{% endif %}">
                <img class="p-f-e-a-userpic" src="{{ friend.photo_url }}" alt="{{ friend.lastname }}<br>{{ friend.firstname }}">
                <strong class="p-f-e-a-username">{{ friend.lastname }} {{ friend.firstname }}</strong>
            </li>
            {% endfor %}
        </ul>
    </div>{% endcomment %}
</section>
{% endblock %}
