@import 'css/mixins.scss';

.l-header {
    height: 50px;
    background: url('img/common/header_bg.png') repeat-x;

    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);

    .l-header-content {
        height: 50px;
    }

    .l-header-logo {
        margin-top: 14px;
        float: left;

        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;

        @include helper_noselect();

        .l-header-logo-text {
            color: #fff;
            text-decoration: none;
        }
    }

    .l-header-menu {
        margin-left: 50px;
        float: left;

        overflow: hidden;

        .l-h-m-item {           
            display: inline-block;
            float: left;

            .l-h-m-link {
                height: 50px;
                padding: 0 10px;

                display: inline-block;

                font-size: 12px;
                line-height: 50px;

                text-transform: uppercase;

                color: #fff;

                &:hover {
                    background: #f5f5f5;
                    color: #d44d52;

                    text-decoration: none;
                    text-shadow: none;
                }
            }
        }
    }


    .b-notifications {
        width: 250px;
        height: 50px;

        margin-right: 10px;

        float: right;
    }

    .l-header-usermenu {
        float: right;

        .l-header-login {
            height: 50px;
            display: block;

            font-weight: 300;
            font-size: 12px;
            line-height: 50px;

            color: #fff;
        }

        .l-h-userprofileblock {
            height: 42px;
            padding-top: 8px;
            position: relative;

            @include helper_noselect();

            .l-h-u-label {
                font-weight: 400;
                .l-h-userpic {
                    width: 24px;
                    height: 24px;

                    margin: 5px;

                    display: inline-block;

                    border-radius: 12px;
                    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 2px 2px rgba(0, 0, 0, .4);
                }
            }

            &:hover {
                .l-h-u-options {
                    display: block;
                }
            }
            
            .l-h-u-options {
                width: 100%;
                min-width: 100px;

                margin-top: -5px;

                padding: 2px;

                display: none;

                position: absolute;
                right: 0;
                top: 100%;
                background: #f5f5f5;

                border-radius: 3px;
                box-shadow: 0 2px 2px rgba(0, 0, 0, .3);

                &:before {
                    margin-left: -6px;
                    margin-top: -6px;

                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 0;

                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid //#f5f5f5;
                }

                .l-h-u-o-link {
                    padding: 2px 5px;
                    display: block;
                    font-weight: 300;
                    font-size: 12px;

                    text-shadow: none;
                    text-decoration: none;

                    border-radius: 3px;

                    &:hover {
                        background: #2296c3;
                        color: #fff;
                    }
                }
            }
        }
    }
    
}
