<header class="l-header" id="l-header">
    <div class="l-header-content s-wrap cf">
        <h1 class="l-header-logo">
            {% if not is_index %}<a class="l-header-logo-text" href="{% url page-index %}">Ostronaut</a>{% else %}
            <span class="l-header-logo-text">Ostronaut</span>{% endif %}
        </h1>

        {% if user.is_authenticated %}
        <ul class="l-header-menu">
            <li class="l-h-m-item">
                <a href="{% url feed-featured %}" class="l-h-m-link">Популярное</a>
            </li>
            <li class="l-h-m-item">
                <a href="{% url feed %}" class="l-h-m-link">Друзья</a>
            </li>
        </ul>
        {% endif %}

        <nav class="l-header-usermenu">
            {% if not user.is_authenticated %}
            <a href="{% url person_login %}" class="l-header-login">Вход</a>
            {% else %}
            <div class="l-h-userprofileblock">
                <span class="l-h-u-label">
                    <img class="l-h-userpic" src="{{ user.get_profile.photo_url }}" alt="{{ user.get_profile.full_name }}">
                    {{ user.get_profile.full_name }}
                </span>
                <ul class="l-h-u-options">
                    <li class="l-h-u-option">
                        <a href="{% url person-profile pk=user.get_profile.id %}" class="l-h-u-o-link">Мой профиль</a>
                    </li>
                    <li class="l-h-u-option">
                        <a href="{% url place_favorites %}" class="l-h-u-o-link">Избранное</a>
                    </li>
                    <li class="l-h-u-option">
                        <a href="{% url person_logout %}" class="l-h-u-o-link l-header-logout">Выйти</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </nav>

        {% if user.is_authenticated %}
            {% include "blocks/block-notifications/b-notifications.html" %}
        {% endif %}
    </div>
</header>
