@import 'css/mixins.scss';

.l-header {
    height: 50px;
    background: url('img/common/header_bg.png') repeat-x;

    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);

    .l-header-content {
        height: 50px;
    }

    .l-header-logo {
        margin-top: 14px;
        float: left;

        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;

        @include helper_noselect();

        .l-header-logo-text {
            color: #fff;
            text-decoration: none;
        }
    }

    .l-header-pages {
        margin-left: 10px;
        float: left;

        overflow: hidden;

        .l-h-pageoption {           
            display: inline-block;
            float: left;

            .l-h-pagelink {
                height: 50px;
                padding: 0 10px;

                display: inline-block;

                font-size: 14px;
                line-height: 46px;

                text-transform: uppercase;

                color: #fff;

                &:hover {
                    background: #f5f5f5;
                    color: #d44d52;

                    text-decoration: none;
                    text-shadow: none;
                }
            }
        }
    }


    .b-notifications {
        width: 270px;

        margin: 7px 10px;
        padding-right: 10px;
        padding-top: 2px;

        float: right;

        border-right: 1px solid #af4044;
    }

    .l-header-nav {
        margin-top: 15px;
        float: right;

        &.has_userpic {
            margin-top: 8px;
        }
    }

    .l-header-menuitem {
        margin-left: 30px;
        display: inline-block;

        font-weight: 300;
        font-size: 10px;

        text-transform: uppercase;

        &.l-header-profileitem{
            margin-left: 0;
        }
    }
    .l-header-menulink {
        color: #fff;
    }
    .l-header-profile {
        font-size: 12px;
    }
    .l-header-profileimage {
        text-decoration: none;
    }
    .l-header-userpic {
        width: 24px;
        height: 24px;

        margin: 5px 10px 5px 5px;

        display: inline-block;

        text-decoration: none;

        border-radius: 12px;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 2px 2px rgba(0, 0, 0, .4);
    }
}
