@import 'css/mixins.scss';

.l-header {
    height: 50px;
    background: url('img/common/header_bg.png') repeat-x;

    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);

    .l-header-logo {
        margin-top: 14px;
        float: left;

        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;

        @include helper_noselect();

        .l-header-logo-text {
            color: #fff;
            text-decoration: none;
        }
    }

    .b-notifications {
        width: 270px;

        margin: 7px 10px;
        padding-left: 10px;
        padding-top: 2px;

        float: left;

        border-left: 1px solid #e7989b;
    }

    .l-header-nav {
        margin-top: 15px;
        float: right;

        &.has_userpic {
            margin-top: 8px;
        }
    }

    .l-header-menuitem {
        margin-left: 20px;
        display: inline-block;

        text-transform: uppercase;
    }
    .l-header-menulink {
        color: #fff;
    }
    .l-header-profileimage {
        text-decoration: none;
    }
    .l-header-userpic {
        width: 24px;
        height: 24px;

        margin: 5px 10px 5px 5px;

        display: inline-block;

        text-decoration: none;

        border-radius: 12px;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 2px 2px rgba(0, 0, 0, .4);
    }
}
