<header class="l-header" id="l-header">
    <div class="l-header-content s-wrap">
        <h1 class="l-header-logo">
            {% if not is_index %}<a class="l-header-logo-text" href="{% url page-index %}">Exploderr</a>{% else %}
            <span class="l-header-logo-text">Exploderr</span>{% endif %}
        </h1>
        <nav class="l-header-nav">
            <ul class="l-header-menu">
                <li class="l-header-menuitem"><a href="javascript:void(0);" class="l-header-menulink l-header-login">Вход</a></li>
                <li class="l-header-menuitem"><a href="javascript:void(0);" class="l-header-menulink l-header-register">Регистрация</a></li>
            </ul>
        </nav>
    </div>
</header>
