@import 'css/mixins.scss';

$blue: #4871a7;
$blue-h: #4979b8;
$blue-a: #32537d;

$red: #f2bec0;
$red-h: #304d8b;
$red-a: #db878a;

$green: #48a755;
$green-h: #50b55e;
$green-a: #428d4c;

$gray: #d3d3d3;


@mixin button($color, $color-h, $color-a) {
    color: #fff;
    background: $color;
    @include box-shadow(0 -2px 0 darken($color, 20%) inset);

    &:hover {
        background: $color-h;
    }

    &:active {
        background: $color-a;
        @include box-shadow(0 2px 0 darken($color, 30%) inset);
    }

    &[disabled] {
        background: $gray;
        @include box-shadow(0 -2px 0 darken($gray, 20%) inset);

        &:hover {
            background: $gray;
        }

        &:active {
            @include box-shadow(0 -2px 0 darken($gray, 20%) inset);
        }
    }
}

button,
.button {
    margin: 0;
    padding: 0;
    
    overflow: visible;
    
    border: none;
    outline: none;
    background: none;
    
    @include box-shadow(none);
    @include border-radius(0);
    @include helper_noselect();
    @include touch-callout(none);
    @include box-sizing(border-box);

    cursor: pointer;
}

.button {
    height: 40px;
    padding: 0 15px;

    display: inline-block;
    position: relative;

    font-size: 14px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    // text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    text-align: center;

    &:before { // webkit drag while clicking fix
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        color: #fff;
        color: rgba(255, 255, 255, .8);
    }

    &[disabled]:active {
        color: #fff;
    }


    &.small {
        height: 30px;
        padding: 0 10px;
        font-size: 12px;
        line-height: 30px;
    }
}

a.button.blue,
.button.blue {
    @include button($blue, $blue-h, $blue-a);
}

a.button.red,
.button.red {
    @include button($red, $red-h, $red-a);
}

a.button.green,
.button.green {
    @include button($green, $green-h, $green-a);
}
