@import 'css/mixins.scss';

$blue: #4871a7;
$blue-h: #4979b8;
$blue-a: #32537d;
$blue-shadow: #163b6b;
$blue-shadow-a: #0e2e57;

$red: #f2bec0;
$red-h: #ffb6b9;
$red-a: #db878a;
$red-shadow: #e98084;
$red-shadow-a: #ad5457;

$green: #48a755;
$green-h: #50b55e;
$green-a: #428d4c;
$green-shadow: #1e773e;
$green-shadow-a: #1d5c33;

$gray: #d3d3d3;


@mixin button($color, $color-h, $color-a, $shadow, $shadow-a) {
    color: #fff;
    background: $color;
    @include box-shadow(0 -2px 0 $shadow inset);

    &:hover {
        background: $color-h;
    }

    &:active {
        background: $color-a;
        @include box-shadow(0 2px 0 $shadow-a inset);
    }

    &[disabled],
    &.disabled {
        background: $gray;
        @include box-shadow(0 -3px 0 darken($gray, 20%) inset);
        cursor: default;

        &:hover {
            background: $gray;
        }

        &:active {
            @include box-shadow(0 -3px 0 darken($gray, 20%) inset);
        }
    }
}

button,
.button {
    margin: 0;
    padding: 0;
    
    overflow: visible;
    
    border: none;
    outline: none;
    background: none;
    
    @include box-shadow(none);
    @include border-radius(0);
    @include helper_noselect();
    @include touch-callout(none);
    @include box-sizing(border-box);

    @include touch-callout(none);
    -webkit-tap-highlight-color: transparent !important;
            tap-highlight-color: transparent !important;

    cursor: pointer;
}

.button {
    height: 42px;
    padding: 0 20px;

    display: inline-block;
    position: relative;

    // font-weight: 600;
    font-size: 13px;
    line-height: 42px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    // text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    text-align: center;

    &:before { // webkit drag while clicking fix
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        color: #fff;
        color: rgba(255, 255, 255, .8);

        // span {
        //     position: relative;
        //     top: 1px;
        // }
    }

    &[disabled]:active {
        color: #fff;
        // span {
        //     position: static;
        //     top: auto;
        // }
    }


    &.small {
        height: 30px;
        padding: 0 10px;
        font-size: 12px;
        line-height: 30px;
    }
}

a.button.blue,
.button.blue {
    @include button($blue, $blue-h, $blue-a, $blue-shadow, $blue-shadow-a);
}

a.button.red,
.button.red {
    @include button($red, $red-h, $red-a, $red-shadow, $red-shadow-a);
}

a.button.green,
.button.green {
    @include button($green, $green-h, $green-a, $green-shadow, $green-shadow-a);
}
