{% extends "blocks/base/base.html" %}

{% block content %}
<section class="l-content p-users-resetpassword s-wrap" id="l-content">
    <h2 class="p-u-r-heading">Восстановление пароля</h2>
    <p class="p-u-r-explain">
        Для восстановления пароля укажите ваш адрес электронной почты, использованный при регистрации/заполнении анкеты.
    </p>
    <form action="" class="p-u-r-form" method="POST">
        <p class="p-u-r-row m-validate-container cf" data-for="email">
            <label class="p-u-r-label">Адрес эл. почты:</label>
            <input type="email" name="email" class="p-u-r-email"
                autocapitalize="off" data-validate="true" data-enabling="true" data-filter="email" data-error="Введите правильный адрес эл. почты" placeholder="Адрес электронной почты" value="{{ form.email.value|default:'' }}" required>
            {% include "blocks/module-validate/m-validate-error.html" with input=form.email %}
        </p>

        {% include "blocks/module-validate/m-validate-error-nonfield.html" with form=form %}
        {% csrf_token %}

        <p class="p-u-r-submit">
            <button class="button blue" disabled><span>Отправить</span></button>
        </p>
    </form>

</section>
{% endblock %}
