/* @require 'blocks/block-parallax/b-parallax.scss' */

@import 'css/mixins.scss';

html.loungesplash {
    width: 100%;
    height: 100%;

    overflow: hidden;
    background: #173152 url('img/errors/bglight.jpg') no-repeat center center;

    @include helper_noselect();

    body {
        background: none;
    }
}

.p-lounge {
    .p-l-spacecontainer {
        width: 960px;
        height: 600px;

        margin-left: -480px;
        margin-top: -300px;

        position: absolute;
        left: 50%;
        top: 50%;

        .p-l-space {
            position: relative;
        }
    }

    .p-l-sun {
        width: 435px;
        height: 642px;

        margin-left: 100%;
        left: -247px;
        top: -100px;

        background: url('img/errors/sun.png') no-repeat;
    }

    .p-l-saucer {
        width: 34px;
        height: 15px;

        margin-left: 100%;

        left: -260px;
        top: 50px;

        background: url('img/errors/saucer.png') no-repeat;
    }

    .p-l-earth {
        width: 51px;
        height: 48px;

        left: 30px;
        top: 450px;
        
        background: url('img/errors/earth.png') no-repeat;
    }

    .p-l-ship_w_astronaut {
        width: 536px;
        height: 471px;

        left: 200px;
        top: 30px;

        background: url('img/errors/ship_w_astronaut.png') no-repeat;
    }

    .p-l-maintenance {
        width: 524px;
        height: 40px;

        left: 260px;
        top: 540px;

        background: url('img/errors/maintenance.png') no-repeat;
    }
}
