{% extends "blocks/base/base.html" %}
{% load static %}

{% block htmlclasses %} loungesplash{% endblock %}

{% block body %}
<section class="l-content block-parallax p-lounge" id="l-content">
    <span data-mult="2" class="b-p-elem p-l-sun"></span>
    <span data-mult="4" class="b-p-elem p-l-saucer"></span>

    <div class="p-l-spacecontainer">
        <div class="p-l-space">
            <span data-mult="1" class="b-p-elem p-l-earth"></span>        
            <span data-mult="6" class="b-p-elem p-l-ship_w_astronaut"></span>
            <span data-mult="7" class="b-p-elem p-l-maintenance"></span>
        </div>
    </div>
</section>
{% endblock %}

{% block overlay %}{% endblock %}
