{% extends "blocks/base/base.html" %}

{% block content %}
<section class="l-content s-wrap p-about" id="l-content">
    <header class="p-a-header">
        <h2 class="p-a-heading">О нас</h2>
    </header>
    <div class="p-a-content">
        <div class="p-a-description">
            <p>
                Ostronaut – самый легкий и оригинальный способ показать, где ты находишься. Фотографируй и оценивай места вокруг себя. Улучшай снимки с помощью фильтров и рамок. Рассказывай о любимых местах ВКонтакте. Оценивай и смотри ленту интересных мест, в которых побывали твои друзей.
            </p>
            <p>
                Хочешь получить приглашение? Скачай приложение, отправь фотографию с описанием места и, если фото нам понравится, вышлем приглашение.
            </p>

        </div>
        <aside class="p-a-sidebar">
            {% include "blocks/block-download-appstore/b-download-appstore.html" %}
        </aside>
    </div>

    {% include "blocks/block-howto/b-howto.html" %}
</section>
{% endblock %}
