{% extends "blocks/base/base.html" %}

{% block content %}
<section class="l-content p-registration" id="l-content">
    <h2 class="p-r-heading">Ваши данные</h2>

    <form action="" class="p-r-form">
        <p class="p-r-f-row m-validate-container">
            <label class="p-r-f-label"></label>
            <input type="text">
        </p>
        <p class="p-r-f-row m-validate-container">
            <label class="p-r-f-label"></label>
            <input type="text">
        </p>
        <p class="p-r-f-row m-validate-container">
            <label class="p-r-f-label"></label>
            <input type="text">
        </p>
        <p class="p-r-f-row m-validate-container">
            <label class="p-r-f-label"></label>
            <input type="text">
        </p>
        <p class="p-r-f-row m-validate-container">
            <label class="p-r-f-label"></label>
            <input type="text">
        </p>
    </form>
</section>
{% endblock %}
