- content_for :html_classes do
  splash

%section.l-content.module-parallax.p-comingsoon
  %span.m-p-elem.p-c-e-earth{'data-mult'=>1}

  .p-c-e-spacecontainer
    %span.m-p-elem.p-c-e-deathstar{'data-mult'=>0.5}
    %span.m-p-elem.p-c-e-ship{'data-mult'=>4}
    %span.m-p-elem.p-c-e-comingsoon{'data-mult'=>6}

