.p-users-profile-edit {
    padding: 40px 0;
    color: #535353;

    .p-u-p-e-heading {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 24px;
    }

    .p-u-p-e-form {
        width: 410px;
        margin-top: 20px;

        .p-u-p-e-row {
            margin-bottom: 10px;
        }

        .p-u-p-e-label {
            width: 140px;
            margin-right: 10px;
            display: inline-block;

            font-size: 14px;
            line-height: 40px;
            color: #919191;
            text-align: right;
        }

        .m-validate-container-nonfield {
            margin-bottom: 15px;
        }

        .p-u-p-e-submit {
            overflow: hidden;

            .button {
                float: right;
            }
        }
    }
}
