{% extends "blocks/base/base.html" %}

{% block content %}
<section class="l-content p-users-profile-edit s-wrap" id="l-content">
    <h2 class="p-u-p-e-heading">Изменить ваши данные</h2>

    <form action="" class="p-u-p-e-form" method="POST">
        <div class="p-u-p-e-row p-u-p-e-userphotowrap">
            <label class="p-u-p-e-label">Фотография профиля:</label>

            <p class="p-u-p-e-photocontainer">
                {% if user.get_profile.photo_url %}<img class="p-u-p-e-photoimg" src="{{ user.get_profile.photo_url }}" alt="{{ user.get_profile.firstname }} {{ user.get_profile.lastname }}">{% endif %}
                <input type="file" name="userpic" class="p-u-p-e-photoinput">
                <small class="p-u-p-e-photoreq">Не более 100 Кб пожалуйста</small>
            </p>
            {% include "blocks/module-validate/m-validate-error.html" with input=formset.userpic %}
        </div>

        <div class="p-u-p-e-row">
            <label class="p-u-p-e-label">Имя:</label>
            <input type="text" name="firstname" class="p-u-p-e-name"
            data-validate="true" data-error="Введите имя" placeholder="Имя" value="{{ formset.firstname.value}}" required>
            {% include "blocks/module-validate/m-validate-error.html" with input=formset.firstname %}
        </div>

        <div class="p-u-p-e-row">
            <label class="p-u-p-e-label">Фамилия:</label>
            <input type="text" name="lastname" class="p-u-p-e-surname"
                data-validate="true" data-error="Введите фамилию" placeholder="Фамилия" value="{{ formset.lastname.value }}" required>
            {% include "blocks/module-validate/m-validate-error.html" with input=formset.lastname %}
        </div>

        <div class="p-u-p-e-row p-u-p-e-birthday cf">
            <label class="p-u-p-e-label">Дата рождения:</label>

            <p class="p-u-p-e-birthdaywrap cf">
                <span class="m-validate-container" data-for="b_day">
                    <input type="text" name="b_day" class="p-u-r-b_day"
                    autocapitalize="off" data-validate="true" data-filter="number" min="1" max="31" maxlength="2" data-error="Выберите правильный день" placeholder="ДД" value="{{ formset.b_day.value }}">
                    {% include "blocks/module-validate/m-validate-error.html" with input=formset.b_day %}
                </span>

                <span class="m-input-select">
                    <span class="m-i-s-label">
                        <ins class="m-i-s-fakeinput"></ins>
                        <i class="m-i-s-arrow">▼</i>
                    </span>
                    <select name="b_month" class="p-u-r-b_month">
                        <option value="01">Январь</option>
                        <option value="02">Февраль</option>
                        <option value="03">Март</option>
                        <option value="04">Апрель</option>
                        <option value="05">Май</option>
                        <option value="06">Июнь</option>
                        <option value="07">Июль</option>
                        <option value="08">Август</option>
                        <option value="09">Сентябрь</option>
                        <option value="10">Октябрь</option>
                        <option value="11">Ноябрь</option>
                        <option value="12">Декабрь</option>
                    </select>
                </span>

                <span class="m-validate-container" data-for="b_year">
                    <input type="text" name="b_year" class="p-u-r-b_year"
                    autocapitalize="off" data-validate="true" data-filter="number" min="1900" max="2012" maxlength="4" data-error="Выберите правильный год" placeholder="ГГГГ" value="{{ formset.b_year.value }}">
                    {% include "blocks/module-validate/m-validate-error.html" with input=formset.b_year %}
                </span>
            </p>
        </div>

        <div class="p-u-p-e-row">
            <label class="p-u-p-e-label">Город пребывания:</label>
            <input type="text" name="city" class="p-u-p-e-city"
                placeholder="Город" value="{{ formset.city.value }}">
            {% include "blocks/module-validate/m-validate-error.html" with input=formset.lastname %}
        </div>

        <div class="p-u-p-e-row">
            <label class="p-u-p-e-label">Адрес эл. почты:</label>
            <em class="p-u-p-e-email">{{ user.get_profile.email }}</em>
            <p class="p-u-p-e-changecredentials-wrap">
                <a href="{% url person-edit-credentials %}" class="p-u-p-e-changecredentials">изменить эл. почту и пароль</a>
            </p>
        </div>

        {% include "blocks/module-validate/m-validate-error-nonfield.html" with form=formset %}
        {% csrf_token %}

        <div class="p-u-p-e-submit">
            <button class="button blue">Сохранить</button>
        </div>
    </form>
    
</section>
{% endblock %}
