/* @require 'blocks/block-story/b-story.scss' */
/* @require 'blocks/block-story-full/b-story-full.scss' */
/* @require 'css/masonry.css' */

@import 'css/mixins.scss';

.b-pinterest {
    .b-pinterest-item {
        width: 300px;
        margin: 10px;
        float: left;
    }

    .b-pinterest-more {
        margin-top: 20px;
        text-align: center;

        display: none;
        position: relative;

        &.active {
            display: block;
        }

        .b-pinterest-to_top-link {
            position: absolute;
            right: 10px;
            top: 5px;
        }
    }
}
