= link_to "Войти через Facebook", user_omniauth_authorize_path(:facebook), {:class=>"pl-fb-button blue-button"}

= link_to "Войти через vkontakte", user_omniauth_authorize_path(:vkontakte), {:class=>"pl-fb-button blue-button"}

