{% extends "blocks/base/base.html" %}

{% block content %}
<section class="l-content p-place s-wrap" id="l-content">
    <header class="p-p-header">
        <h2 class="p-p-name">PLACENAME PLACENAME {{ 5|stars }}</h2>
        <small class="p-p-address">3301 Lyon Street, San Francisco, CA 94123-1002</small>
    </header>

    <div class="p-p-content">
        <div class="p-p-gallerywrap">
            {% include "blocks/block-photogallery/b-photogallery.html" %}
        </div>

        <aside class="p-p-sidebar">
            <div class="p-p-map"></div>

            <div class="p-p-thumbs">
                {% include "blocks/block-photogallery-small/b-photogallery-small.html" %}
            </div>
        </aside>
    </div>
</section>
{% endblock %}
{% block json_data %}{
    place: {
        latitude: -34.397,
        longitude: 150.644
    }
}{% endblock %}
{% block extra_js %}
<script src="http://maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}&amp;sensor=false"></script>
{% endblock %}
