{% extends "blocks/base/base.html" %}

{% block content %}
<section class="l-content p-place s-wrap" id="l-content">
    <header class="p-p-header">
        <h2 class="p-p-name">{{ place.title }} {{ place.rate|stars }}</h2>
        <small class="p-p-address">{{ place.format_address }}</small>
    </header>

    <div class="p-p-content">
        <div class="p-p-gallerywrap">
            {% include "blocks/block-photogallery/b-photogallery.html" %}
        </div>

        <aside class="p-p-sidebar">
            <div class="p-p-map"></div>

            <div class="p-p-thumbs">
                {% include "blocks/block-photogallery-small/b-photogallery-small.html" %}
            </div>

            <div class="p-p-download">
                {% include "blocks/block-download-appstore/b-download-appstore.html" with small="True" %}
            </div>
        </aside>
    </div>

    <div class="p-p-feed-holder">
        {% include "blocks/block-place-feed/b-place-feed.html" with feed=place.get_checkins %}
    </div>
</section>
{% endblock %}
{% block json_data %}{
    place: {
        position: {
            latitude: {{ place.position.y|jsnum }},
            longitude: {{ place.position.x|jsnum }}
        },
        zoom: 14
    }
}{% endblock %}
{% block extra_js %}
<script src="http://maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}&amp;sensor=false"></script>
{% endblock %}
