@import 'css/mixins.scss';

.b-activity-feed {

    .b-activity-feed-item {
        position: relative;

        .b-activity-feed-date {
            width: 45px;

            margin: 15px 20px 0 0;
            position: absolute;
            left: 0;
            top: 0;

            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            color: #628096;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
            text-align: right;

            b {
                display: block;
                font-size: 24px;
                line-height: 24px;
            }

            &:after {
                width: 6px;
                height: 6px;
                content: "";
                display: block;
                position: absolute;
                left: 55px;
                top: 7px;
                border: 2px solid #fff;

                @include border-radius(5px);
                @include box-shadow(0 1px 3px rgba(0, 0, 0, .3));
                background: #dfdfdf;
            }
        }

        .b-activity-story {
            margin-left: 60px;
            margin-right: 10px;

            padding: 10px 0 10px 20px;

            border-left: 1px solid #dfdfdf;
        }
    }

    .b-activity-feed-more {
        margin-top: 20px;
        text-align: center;

        display: none;

        &.active {
            display: block;
        }
    }
}
