@import 'css/mixins.scss';

.m-input-select {
    display: inline-block;
    vertical-align: baseline;

    position: relative;

    @include helper_noselect();
    cursor: pointer;

    .m-i-s-label {
        display: inline-block;
        position: relative;
        z-index: 10;
    }

    .m-i-s-arrow {
        width: 30px;
        margin: 1px;
        height: 40px;

        position: absolute;
        right: 0;
        top: 0;

        text-align: center;
        line-height: 43px;

        border-left: 1px solid #d6d6d6;
        background: #fff;
    }

    &.active .m-i-s-arrow {
        height: 42px;
    }

    .m-i-s-fakeinput {
        min-width: 204px;
        padding: 10px 40px 10px 10px;

        display: inline-block;

        border: 1px solid #d6d6d6;
        background: #fff;

        font-size: 18px;
        line-height: 20px;
        color: #535353;
    }

    select {
        position: absolute;
        left: -999px;
        top: -999px;
    }

    .m-i-s-dropdown {
        width: 100%;

        position: absolute;
        top: 100%;
        left: 0;
        z-index: 50;

        display: none;

        border: 1px solid #d6d6d6;
        border-top: none;

        @include box-sizing(border-box);
        background: #fff;        

        // &.active {
        //     display: block;
        // }

        li {
            padding: 5px 10px;

            font-size: 18px;
            &.selected {
                font-weight: bold;
            }
            &:hover {
                background: #2aa2d0;
                color: #fff;
            }
        }
    }

    &.active .m-i-s-dropdown {
        display: block;
    }
}
