<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>vkSecretId</key>
		<string>***REMOVED***</string>
		<key>vkAppId</key>
		<string>***REMOVED***</string>
		<key>vkPermissions</key>
		<string>friends,notify,photos,status,wall,offline,notifications</string>
		<key>vkRedirectUrl</key>
		<string>http://oauth.vk.com/blank.html</string>
		<key>baseURL</key>
		<string>http://localhost:8000</string>
		<key>secureBaseURL</key>
		<string></string>
		<key>apiVersion</key>
		<string>1.0</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>vkSecretId</key>
		<string>***REMOVED***</string>
		<key>vkAppId</key>
		<string>***REMOVED***</string>
		<key>vkPermissions</key>
		<string>friends,notify,photos,status,wall,offline,notifications</string>
		<key>vkRedirectUrl</key>
		<string>http://oauth.vk.com/blank.html</string>
		<key>baseURL</key>
		<string>http://production.com</string>
		<key>secureBaseURL</key>
		<string></string>
		<key>apiVersion</key>
		<string>1.0</string>
	</dict>
</dict>
</plist>
