<article class="b-story-full">
    <div class="b-s-f-imagewrap">
        <img src="http://placekitten.com/270/270" alt="" class="b-s-f-image">
        <span class="b-s-f-rating">{{ stars|stars }}</span>
    </div>

    <div class="b-s-f-content">
        <p class="b-s-f-author">
            <a href="#">
                <img class="b-s-f-userpic" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/369310_7301100_911235766_n.jpg" alt="">
                Cyan Rebelchuk
            </a>
        </p>

        <div class="b-s-f-location_name">
            <h3 class="b-s-f-name">Дворец его высочества В.В.П.</h3>
            <span class="b-s-f-location">{{ place.address|default:'Без адреса' }}</span>
        </div>

        <div class="b-s-f-review">
            I am special, and I will never be one of you! I have a disease? Bullshit! I cured it with my brain, with my mind. I cured it, I'm done &hellip; you don't look like you're having a lot of fun. I'm gonna hang out with these two smoking hotties and fly privately around the world. It might be lonely up here but I sure like the view.
        </div>

        <div class="b-s-f-meta">
            <a href="#" class="b-s-f-metaitem b-s-f-meta-likes">42 ♥</a>
            <a href="#" class="b-s-f-metaitem b-s-f-meta-comment">комментировать</a>
            <span class="b-s-f-metaitem b-s-f-meta-time">18 часов назад</span>
        </div>
    </div>
</article>
