@import 'css/mixins.scss';

.b-story-full {
    overflow: hidden;

    background: #fff;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, .2));

    .b-s-f-imagewrap {
        width: 270px;
        margin: 10px;
        float: left;

        position: relative;

        .b-s-f-image {
            width: 100%;
            display: block;
        }
        .b-s-f-rating {
            padding: 2px 5px;

            position: absolute;
            right: 0;
            top: 0;

            background: #000;
            background: rgba(0, 0, 0, .5);
        }

    }

    .b-s-f-content {
        margin-left: 280px;

        padding: 10px;

        .b-s-f-author {
            padding: 5px;

            overflow: hidden;

            font-size: 12px;
            line-height: 40px;
            color: #919191;

            .b-s-f-userpic {
                width: 40px;
                height: 40px;

                margin-right: 10px;

                display: block;
                float: left;

                text-decoration: none;

                @include border-radius(20px);
                @include box-shadow(0 0 0 2px rgba(255, 255, 255, 1), 0 0 2px 2px rgba(0, 0, 0, .4));
            }
        }

        .b-s-f-location_name {
            width: 200%;
            margin-left: -10px;
            margin-top: 10px;
            padding: 5px 15px;

            background: #eff5f8;

            .b-s-f-name {
                color: #0076a3;
                font-size: 16px;
            }
            .b-s-f-location {
                margin-top: 5px;
                display: block;
                color: #919191;
                font-size: 12px;
            }
        }

        .b-s-f-review {
            padding: 10px 5px;

            font-size: 13px;
            color: #535353;
        }
        

        .b-s-f-meta {
            padding-top: 5px;
            border-top: 1px solid #ececec;

            font-size: 11px;
            color: #919191;

            .b-s-f-metaitem {
                display: inline-block;
                border-left: 1px solid #ececec;            
            }
            .b-s-f-meta-likes {
                width: 55px;
                border-left: none;

                &.liked {
                    color: inherit;
                    text-decoration: none;
                }
            }
            .b-s-f-meta-comment {
                width: 100px;
                text-align: center;
            }
            .b-s-f-meta-time {
                width: 86px;
                text-align: right;
            }
        }
    }

    .b-s-f-comments {
        clear: both;

        &.hidden {
            display: none;
        }

        .b-s-f-c-link-showall {
            margin: 0 10px;
            display: block;

            font-size: 11px;

            &.disabled {
                display: none;
            }
        }

        .b-s-f-c-userpic {
            width: 40px;
            height: 40px;

            display: block;

            @include border-radius(20px);
            @include box-shadow(0 0 0 2px rgba(255, 255, 255, 1), 0 0 2px 2px rgba(0, 0, 0, .4));
        }

        .b-s-f-c-list {
            margin: 5px 10px;

            .b-s-f-c-listitem {
                padding: 5px 0;
                overflow: hidden;

                &.hidden {
                    display: none;
                }

                &.temporary {
                    @include opacity(50);
                }
            }

            .b-s-f-c-userpicwrap {
                width: 40px;
                padding: 5px;
                display: block;
                float: left;

                text-decoration: none;                
            }
            .b-s-f-c-content {
                margin-left: 54px;
                padding-top: 6px;
                font-size: 11px;

                .b-s-f-c-meta {
                    color: #b7b7b7;
                }
                .b-s-f-c-link-profile {
                    margin-right: 5px;
                    display: inline-block;
                    font-size: 12px;
                }
            }
        }

        .b-s-f-c-addnew {
            padding: 2px 10px;
            overflow: hidden;
            background: #eff5f8;

            .b-s-f-c-userpic {
                margin: 5px;
                float: left;
            }

            .m-textarea-autogrow {
                margin: 10px 0 10px 54px;

                .m-t-a-pusher,
                .m-t-a-textarea {
                    min-width: 98%;
                    padding: 7px;
                    font-size: 11px;
                    line-height: 14px;
                }
            }
            .b-s-f-c-addnew-button {
                display: none;
            }
        }
    }
    
}
