<article class="b-story-full cf" data-storyid="{{ story.id }}">
    {% if story.show_reason and user.get_profile.id != story.creator.id and story.show_reason.reason != 'created_by_friend' %}
            {% if story.show_reason.reason == 'commented_by_friend' and story.get_comments %}
            <div class="b-s-f-external">
            <a href="{{ story.show_reason.who.url }}">
                {% if story.show_reason.who.id == story.creator.id %}
                Вы прокоментировали эту запись
                {% else %}
                {{ story.show_reason.who.full_name }} {{ story.show_reason.who|unisex:'оставил,оставила' }} комментарий к этой записи
                {% endif %}
            </a>
            </div>
            {% elif story.show_reason.reason == 'liked_by_friend' %}
                <div class="b-s-f-external">
                {% if story.show_reason.who.id == story.creator.id %}
                Вам понравилась эта запись
                {% else %}
                {{ story.show_reason.who.full_name }} понравилась эта запись
                {% endif %}
                </div>
            {% endif %}

    {% endif %}


    <div class="b-s-f-imagewrap">
        <img src="{{ story.data.checkin.photos.0.url }}" alt="{{ story.data.checkin.place.title }}" class="b-s-f-image">
        <span class="b-s-f-rating">{{ story.data.checkin.rate|stars }}</span>
    </div>

    <div class="b-s-f-content">
        <p class="b-s-f-author">
            <a href="{{ story.creator.url }}">
                <img class="b-s-f-userpic" src="{{ story.creator.photo_url }}" alt="{{ story.creator.full_name }}">
                {{ story.creator.full_name }}
            </a>
        </p>

        <div class="b-s-f-location_name">
            
            <div class="b-s-f-namewrap">
                {# <a class="b-s-f-favorite{% if story.get_data.place.is_favorite %} active{% endif %}" href="javascript:void(0);" data-placeid="{{ story.get_data.place.id }}"></a> #}
                <h3 class="b-s-f-name"><a href="{{ story.get_data.place.url }}">{{ story.get_data.place.title }}</a></h3>
            </div>
            <span class="b-s-f-location">{{ story.get_data.place.format_address }}</span>
        </div>
        <div class="b-s-f-review">
            {{ story.data.checkin.review }}
        </div>

        <ul class="b-s-f-meta">
            <li class="b-s-f-metaitem b-s-f-metaitem-likeswrap first{% if story.count_likes > 0 %} has_likes{% endif %}{% if story.count_likes > 8 %} has_extra_likes{% endif %}">
                <a href="javascript:void(0);" class="b-s-f-meta-likes{% if me_liked %} liked{% endif %}">
                    <span class="b-s-f-meta-likes-count">{{ story.count_likes }}</span> ♥
                </a>
                <div class="b-s-f-likesblock">
                    <div class="b-s-f-l-facelistwrap">
                        <ul class="b-s-f-l-facelist">
                            {% for liked in story.liked_person|slice:":22" %}
                            <li class="b-s-f-l-f-face{% if user.get_profile.id == liked.id %} own{% endif %}">
                                <a href="{{ liked.url }}" class="b-s-f-l-f-userpicwrap" title="{{ liked.full_name }}">
                                    <img src="{{ liked.photo_url }}" alt="{{ liked.full_name }}" class="b-s-f-l-f-userpic">
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
            <li class="b-s-f-metaitem"><a href="javascript:void(0);" class="b-s-f-meta-comment">комментировать</a></li>
            <li class="b-s-f-metaitem last"><span class="b-s-f-meta-time">{{ story.create_date|date:"j E Y" }}</span></li>
        </ul>

        {#{% if user.get_profile.id == story.creator.id %}<a href="javascript:void(0);" class="b-s-f-removestory" title="Удалить запись"></a>{% endif %}#}
    </div>
    <div class="b-s-f-comments">
        <ul class="b-s-f-c-list">
            {% for comment in story.get_comments %}
            <li class="b-s-f-c-listitem" data-commentid="{{ comment.id }}">
                {% if comment.creator.photo_url %}<a href="{{ comment.creator.url }}" class="b-s-f-c-userpicwrap"><img class="b-s-f-c-userpic" src="{{ comment.creator.photo_url }}" alt="{{ comment.creator.full_name }}"></a>{% endif %}
                <div class="b-s-f-c-content">
                    <p class="b-s-f-c-meta"><a href="{{ comment.creator.url }}" class="b-s-f-c-link-profile">{{ comment.creator.full_name }}</a> {{ comment.create_date|humanize_since }}</p>
                    <p class="b-s-f-c-message">{{ comment.comment }}</p>
                    {% if user.get_profile.id == comment.creator.id %}<a href="javascript:void(0);" class="b-s-f-c-remove" title="Удалить сообщение"></a>{% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>

        <form action="" class="b-s-f-c-addnew">
            {% if user.get_profile.photo_url %}<img class="b-s-f-c-userpic" src="{{ user.get_profile.photo_url }}" alt="{{ user.get_profile.full_name }}">{% endif %}
            <div class="m-textarea-autogrow">
                <span class="m-t-a-pusher">Ваш комментарий</span>
                <textarea name="comment" class="m-t-a-textarea" placeholder="Ваш комментарий"></textarea>
            </div>
            <button class="b-s-f-c-addnew-button">Отправить</button>
        </form>
    </div>
</article>
