<li class="b-s-f-c-listitem">
    <a href="#" class="b-s-f-c-userpicwrap"><img class="b-s-f-c-userpic" src="<%= userpic %>" alt="<%= username %>"></a>
    <div class="b-s-f-c-content">
        <p class="b-s-f-c-meta"><a href="#" class="b-s-f-c-link-profile"><%= username %></a> сейчас</p>
        <p class="b-s-f-c-message"><%= message %></p>
    </div>
</li>
