<li class="b-s-f-l-f-face<% if (id === S.user.id) { %> own<% } %>">
    <a href="<%= url %>" class="b-s-f-l-f-userpicwrap" title="<%= full_name %>">
        <img src="<%= photo_url %>" alt="<%= full_name %>" class="b-s-f-l-f-userpic">
    </a>
</li>
