<li class="b-s-f-l-f-face">
    <a href="<%= profile %>" class="b-s-f-l-f-userpicwrap" title="<%= full_name %>">
        <img src="<%= photo %>" alt="<%= full_name %>" class="b-s-f-l-f-userpic">
    </a>
</li>
