{% extends "blocks/base/base.html" %}

{% block content %}
<section class="l-content p-users-profile s-wrap" id="l-content">
    <h2 class="p-u-p-heading">Профиль</h2>

    <article class="p-u-p-usercard cf{% if user.get_profile.photo_url %} has_userpic{% endif %}">
        {% if user.get_profile.photo_url %}<img class="p-u-p-userpic" src="{{ user.get_profile.photo_url }}" alt="{{ user.get_profile.firstname }} {{ user.get_profile.lastname }}">{% endif %}

        <div class="p-u-p-userinfo">
            <h2 class="p-u-p-username">{{ user.get_profile.firstname }} {{ user.get_profile.lastname }}</h2>
            <span class="p-u-p-location">Русь Великая, Москва Первопрестольная</span>
            <ul class="p-u-p-userdata">
                <li class="p-u-p-userdata-item p-u-p-checkin">Последний чекин: <a href="#">Battlestar Galactica</a></li>
                <li class="p-u-p-userdata-item p-u-p-count">Всего побывал в <strong>9001 мест</strong></li>
                {% if user.get_profile.email %}<li class="p-u-p-userdata-item p-u-p-email">Адрес электронной почты: <strong>{{ user.get_profile.email }}</strong></li>{% endif %}
                {% if user.get_profile.social_profile_urls.vkontakte %}<li class="p-u-p-userdata-item p-u-p-vk">Страница вконтакте: <a href="{{ user.get_profile.social_profile_urls.vkontakte.0 }}" target="_blank">{{ user.get_profile.social_profile_urls.vkontakte.0 }}</a></li>{% endif %}
            </ul>

            <p class="p-u-p-e-usercontrols">
                <a href="{% url person-edit-profile %}" class="p-u-p-userdata-change">Изменить данные</a>
            </p>
        </div>

        <aside class="p-u-p-friendlist">
            <header class="p-u-p-friendslist-header">
                <h3 class="p-u-p-subheading">Друзья</h3>
                <span class="p-u-p-friendscount">(всего 64)</span>
                <a href="{% url person-friends %}" class="p-u-p-link-fullfrietslist">подробнее</a>
            </header>

            <ul class="p-u-p-friendscloud">
                {% for i in 18|get_range %}
                <li class="p-u-p-friendscard">
                    <a href="#" class="p-u-p-friendpiclink">
                        <img class="p-u-p-friendpic" src="{{ user.get_profile.photo_url }}" alt="{{ user.get_profile.firstname }} {{ user.get_profile.lastname }}">
                        <span class="p-u-p-friendsname">His Lordness</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </aside>
    </article>
   
    <article class="p-u-p-friends cf">
        <section class="p-u-p-requests">
            <h3 class="p-u-p-subheading">Запросы на добавление в друзья</h3>
            {% include "blocks/block-friends-list/b-friends-list.html" with requestlist="True" %}
        </section>
        
        <aside class="p-u-p-suggested">
            {% include "blocks/block-suggested-friends/b-suggested-friends.html" %}
        </aside>
    </article>
</section>

{# <div class="dump">{{ user.get_profile|dump }}</div> #}
{# <div class="dump">{{ user.get_profile.social_profile_urls|dump }}</div> #}
{% endblock %}
