{% extends "blocks/base/base.html" %}
{% load i18n %}
{% block content %}
<section class="l-content p-users-profile s-wrap" id="l-content">
    <h2 class="p-u-p-heading">Профиль</h2>

    <article class="p-u-p-usercard cf{% if person.photo_url %} has_userpic{% endif %}">
        {% include "blocks/block-usercard/b-usercard.html" %}
{% comment %}
        <aside class="p-u-p-friendlist">
            <header class="p-u-p-friendslist-header">
                <h3 class="p-u-p-subheading">Друзья</h3>
                <span class="p-u-p-friendscount">(всего 64)</span>
                <a href="{% url person-friends %}" class="p-u-p-link-fullfrietslist">подробнее</a>
            </header>

            <ul class="p-u-p-friendscloud">
                {% for i in 18|get_range %}
                <li class="p-u-p-friendscard">
                    <a href="#" class="p-u-p-friendpiclink">
                        <img class="p-u-p-friendpic" src="{{ person.photo_url }}" alt="{{ person.firstname }} {{ person.lastname }}">
                        <span class="p-u-p-friendsname">His Lordness</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </aside>
{% endcomment %}
    </article>
   
    <article class="p-u-p-friends cf">
        <h3 class="p-u-p-subheading">Подписки</h3>
        
        {% include "blocks/block-subscriptions/b-subscriptions.html" %}
    </article>
</section>
{% endblock %}
{% block json_data %}{
    subscriptions: [
        {% for i in 18|get_range %}
        {
            user:{{ user.get_profile.get_profile_data|dict_to_json }},
            status: 'follower'
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
    ]
}{% endblock %}
