{% load media %}<!DOCTYPE html>
<html class="no-js" lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}OstroBOT ВОТ{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}Because Instagram is way too mainstream.{% endblock %}">
    <meta name="author" content="Ostrovok.ru">

    <meta name="viewport" content="width=device-width">

    {% comment %}
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% get_static_prefix %}mobile/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% get_static_prefix %}mobile/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{% get_static_prefix %}mobile/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="{% get_static_prefix %}mobile/apple-touch-icon.png">
    <link rel="shortcut icon" href="{% get_static_prefix %}favicon.ico">
    
    <link rel="apple-touch-startup-image" sizes="320x460" href="{% get_static_prefix %}mobile/img/glob/startup.jpg">
    <link rel="apple-touch-startup-image" sizes="640x920" href="{% get_static_prefix %}mobile/img/glob/startup_retina.jpg">
    {% endcomment %}

    {% media_meta css %}
</head>
<body>
    <!--[if lt IE 7]><div class="chromeframe">Ваш браузер устарел. Для более комфортной работы в интернете <a href="http://browsehappy.com/">обновитесь до современного браузера</a> пожалуйста, либо установите <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>. Установка не требует прав администратора.</div><![endif]-->

    <header class="l-header" id="l-header">
    {% block header %}
        {% include "blocks/layout-header/l-header.html" %}
    {% endblock %}
    </header>

    <section class="l-content" id="l-content">
    {% block content %}
    {% endblock %}
    </section>

    <footer class="l-footer" id="l-footer">
    {% block footer %}
        {% include "blocks/layout-footer/l-footer.html" %}
    {% endblock %}
    </footer>

    <aside class="l-overlay" id="l-overlay">
    {% block overlay %}
        {% include "blocks/layout-overlay/l-overlay.html" %}
    {% endblock %}
    </aside>

    <script>
        var S = {
            env: {
                debug: true,
                url: {
                    index: '{% url page-index %}',
                    static: '{{ STATIC_URL }}',
                    oauth: '{% url api_dispatch_list resource_name="person" api_name="v1" %}'
                }
            },
        };
    </script>

    {% media_meta js %}
</body>
</html>
