{% load media debug %}<!DOCTYPE html>
<html class="no-js{% block htmlclasses %}{% endblock %}" lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Ostronaut{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}Because Instagram is way too mainstream.{% endblock %}">
    <meta name="author" content="Ostrovok.ru">

    <meta name="viewport" content="width=device-width">

    {% comment %}
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% get_static_prefix %}mobile/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% get_static_prefix %}mobile/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{% get_static_prefix %}mobile/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="{% get_static_prefix %}mobile/apple-touch-icon.png">
    <link rel="shortcut icon" href="{% get_static_prefix %}favicon.ico">
    
    <link rel="apple-touch-startup-image" sizes="320x460" href="{% get_static_prefix %}mobile/img/glob/startup.jpg">
    <link rel="apple-touch-startup-image" sizes="640x920" href="{% get_static_prefix %}mobile/img/glob/startup_retina.jpg">
    {% endcomment %}

    {% media_meta css %}
    {% block extra_css %}{% endblock %}
</head>
<body>
{% block body %}
    <div class="l-wrapper">
        {% include "blocks/block-chromeframe-notice/b-chromeframe-notice.html" %}
        
        {% block header %}
            {% include "blocks/layout-header/l-header.html" %}
        {% endblock %}

        {% block notifications %}
            {% include "blocks/layout-notifications/l-notifications.html" %}
        {% endblock %}        

        {% block content %}
            <section class="l-content" id="l-content">
            </section>
        {% endblock %}

        <div class="l-footer-pusher"></div>
    </div>
    
    {% block footer %}
        {% include "blocks/layout-footer/l-footer.html" %}
    {% endblock %}
{% endblock %}

    {% block overlay %}
        {% include "blocks/layout-overlay/l-overlay.html" %}
        {# HTML moved here because new block couldn't be declared otherwise #}
        <aside class="l-overlay" id="l-overlay">
            <div class="l-overlay-content">
            {% block overlay_parts %}
                {#<section class="l-o-part"></section>#}
            {% endblock %}
            {% if not user.is_authenticated %}
            {% include "blocks/block-login-form/b-login-form.html" with overlay="True" %}
            {% include "blocks/block-registration-greeting/b-registration-greeting.html" with overlay="True" %}
            {% endif %}
            </div>
        </aside>
    {% endblock %}

    <script>
        var S = {
            env: {
                debug: {% ondebug %}true{% endondebug %}{% onprod %}false{% endonprod %},
            },
            {% if user.is_authenticated %}user: {{ user.get_profile.get_profile_data|dict_to_json }},{% endif %}
            urls: {
                index: '{% url page-index %}',
                static: '{{ STATIC_URL }}',
                oauth: '{% url api_person 'json' %}',
                comments: '{% url feed-comments %}',
                subscriptions: '',
                like: '{% url feed-like action="like" %}',
                unlike: '{% url feed-like action="unlike" %}',
                notifications_markread: ''
            },
            messages: [{% for message in messages %}{ type:'{{message.tags}}', text: '{{message}}' }{%if not forloop.last%},{%endif%}{%endfor%}],
            data: {% block json_data %}{}{% endblock %}
        };
    </script>

    {% block extra_js %}{% endblock %}

    {% media_meta js %}
</body>
</html>
