/* @require 'css/reset.css' */
/* @require 'css/fonts.css' */
/* @require 'blocks/module-buttons/m-buttons.scss' */
/* @require 'blocks/module-inputs/m-inputs.scss' */
/* @require 'blocks/module-validate/m-validate.scss' */
/* @require 'blocks/module-input-select/m-input-select.scss' */

/* =============================================================================
   Headings, fonts, other global stuff
   ========================================================================== */

body, select, input, button, textarea {
    color: #333;
    font: normal 13px 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection { background: #fe57a1; color:#fff; text-shadow: none; }
::selection { background:#fe57a1; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #fe57a1; } /* j.mp/webkit-tap-highlight-color */

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6, nav, b, strong, th {
    font-weight: bold;
}

/* Default link styles */
a, a:active, a:visited {
    color: #0076a3;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none !important; visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

.dump {
    margin: 50px 0;
    padding: 20px;
    background: #000;
    color: #0a0;
    
    clear: both;
    
    overflow: scroll;
    
    white-space: pre;
    
    text-shadow: none;
}

body,
html {
  min-width: 960px;
}

.s-wrap {
    width: 960px;
    margin: 0 auto;  
}
