{% load media debug static %}<!DOCTYPE html>
<html class="no-js{% block htmlclasses %}{% endblock %}" lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Ostronaut{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}Because Instagram is way too mainstream.{% endblock %}">
    <meta name="author" content="Ostronaut.com">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="960">
    <meta name="viewport" content="width=960, initial-scale=0.75, maximum-scale=1, minimum-scale=0.75">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% get_static_prefix %}root/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% get_static_prefix %}root/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="{% get_static_prefix %}root/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="{% get_static_prefix %}root/apple-touch-icon.png">
    <link rel="shortcut icon" href="{% get_static_prefix %}root/favicon.ico">

    {% media_meta css %}
    {% block extra_css %}{% endblock %}

<!--[if lt IE 9]>
    <script src="{% get_static_prefix %}js/html5shiv.js"></script>
<![endif]-->
</head>
<body>
{% block body %}
    <div class="l-wrapper">
        {% include "blocks/block-chromeframe-notice/b-chromeframe-notice.html" %}
        
        {% block header %}
            {% include "blocks/layout-header/l-header.html" %}
        {% endblock %}

        {% block notifications %}
            {% include "blocks/layout-notifications/l-notifications.html" %}
        {% endblock %}        

        {% block content %}
            <section class="l-content" id="l-content">
            </section>
        {% endblock %}

        <div class="l-footer-pusher"></div>
    </div>
    
    {% block footer %}
        {% include "blocks/layout-footer/l-footer.html" %}
    {% endblock %}
{% endblock %}

    {% block overlay %}
        {% include "blocks/layout-overlay/l-overlay.html" %}
        {# HTML moved here because new block couldn't be declared otherwise #}
        <aside class="l-overlay" id="l-overlay">
            <div class="l-overlay-content">
            {% block overlay_parts %}
                {#<section class="l-o-part"></section>#}
            {% endblock %}
            {% if not user.is_authenticated %}
            {% include "blocks/block-login-form/b-login-form.html" with overlay="True" %}
            {#% include "blocks/block-registration-greeting/b-registration-greeting.html" with overlay="True" %#}
            {% endif %}
            {% include "blocks/block-feedback-form/b-feedback-form.html" with overlay="True" %}
            </div>
        </aside>
    {% endblock %}

    <script>
        var S = {
            env: {
                debug: {% ondebug %}true{% endondebug %}{% onprod %}false{% endonprod %},
            },
            {% if user.is_authenticated %}user: {{ user.get_profile.get_profile_data|dict_to_json }},{% endif %}
            urls: {
                index: '{% url page-index %}',
                static: '{{ STATIC_URL }}',
                oauth: '{% url person-oauth %}',
                comments: '{% url feed-comments %}',
                feed: '',
                subscriptions: '{% url person-subscription %}',
                like: '{% url feed-like %}',
                notifications_markread: '{% url notifications-mark-read %}',
                feedback: '{% url feedback %}'
            },
            messages: [{% for message in messages %}{ type:'{{ message.tags }}', text: '{{ message }}' }{% if not forloop.last %},{% endif %}{% endfor %}],
            data: {% block json_data %}{}{% endblock %}
        };
    </script>

    {# analytics goes before main JS to be able to subscribe on events happening below #}
    {% include "blocks/block-analytics/b-analytics.html" %}

    {% block extra_js %}{% endblock %}
    {% media_meta js %}
</body>
</html>
