<form action="" class="b-userinfo-edit" method="POST">
    <p class="b-u-e-row m-validate-container" data-for="name">
        <label class="b-u-e-label">Имя:</label>
        <input type="text" name="firstname" class="b-u-e-name"
            autocapitalize="off" data-validate="true" data-error="Введите имя" placeholder="Имя" value="{{ formset.firstname.value}}" required>
        {% include "blocks/module-validate/m-validate-error.html" with input=formset.firstname %}
    </p>
    <p class="b-u-e-row m-validate-container" data-for="surname">
        <label class="b-u-e-label">Фамилия:</label>
        <input type="text" name="lastname" class="b-u-e-surname"
            autocapitalize="off" data-validate="true" data-error="Введите фамилию" placeholder="Фамилия" value="{{ formset.lastname.value }}" required>
        {% include "blocks/module-validate/m-validate-error.html" with input=formset.lastname %}
    </p>
    <p class="b-u-e-row m-validate-container" data-for="email">
        <label class="b-u-e-label">Адрес эл. почты:</label>
        <input type="email" name="email" class="b-u-e-email"
            autocapitalize="off" data-validate="true" data-filter="email" data-error="Введите правильный адрес эл. почты" placeholder="Адрес электронной почты" value="{{ formset.email.value }}" required>
        {% include "blocks/module-validate/m-validate-error.html" with input=formset.email %}
    </p>
    <p class="b-u-e-row m-validate-container" data-for="password">
        <label class="b-u-e-label">Пароль:</label>
        <input type="password" name="password" class="b-u-e-password"
            autocapitalize="off" data-validate="true" data-error="Введите пароль" placeholder="Сложный пароль" value="{{ formset.password.value }}" required>
        {% include "blocks/module-validate/m-validate-error.html" with input=formset.password %}
    </p>
    <p class="b-u-e-row m-validate-container" data-for="password2">
        <label class="b-u-e-label">И еще раз пароль:</label>
        <input type="password" name="password2" class="b-u-e-password2"
            autocapitalize="off" data-validate="true" data-error="Повторите пароль" placeholder="Сложный пароль" value="{{ formset.password2.value }}" required>
        {% include "blocks/module-validate/m-validate-error.html" with input=formset.password2 %}
    </p>

    {% include "blocks/module-validate/m-validate-error-nonfield.html" with form=formset %}

    <p class="b-u-e-submit">
        {% csrf_token %}
        <button class="button blue" disabled>Отправить</button>
    </p>
</form>
