.b-userinfo-edit {
    width: 410px;
    margin-top: 20px;

    .b-u-e-row {
        margin-bottom: 10px;
    }

    .b-u-e-label {
        width: 140px;
        margin-right: 10px;
        display: inline-block;

        font-size: 14px;
        line-height: 40px;
        color: #919191;
        text-align: right;
    }

    .m-validate-container-nonfield {
        margin-bottom: 15px;
    }

    .b-u-e-submit {
        overflow: hidden;

        .button {
            float: right;
        }
    }
}


