{% extends "m_base.html" %}
{% block pageid %}comments{% endblock %}

{% block header %}
    <header class="l-header" id="l-header">
        <a href="{% url mobile_index %}" class="l-h-link-left l-h-icon-back"></a>
        <h1 class="l-h-logo">Комментарии</h1>
    </header>
{% endblock %}

{% block content %}
<section class="l-content p-comments" data-storyid="10" id="l-content">
    <div class="p-c-place">
        <i class="p-c-p-cat cafe"></i>
        <div class="p-c-p-meta">
            <a href="#" class="p-c-p-name">Дворец его высочества В.В.П.</a>
            <span class="p-c-p-cat-title">night night</span>
        </div>

        <a href="#" class="p-c-p-link"></a>
    </div>
    <ul class="p-c-list">
        <li class="p-c-l-item" data-commentid="0">
            <a href="#" class="p-c-userpicwrap">
                <img class="p-c-userpic" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/369310_7301100_911235766_n.jpg" alt="">
            </a>
            <div class="p-c-content">
                <a href="#" class="p-c-username">Василиса Васильков</a>
                <span class="p-c-message">We win so radically in our underwear before our first cup of coffee, it's scary.</span>
                <span class="p-c-time">123 минут минут</span>
            </div>
        </li>
    </ul>

    <form action="" class="p-c-addnew">
        <div class="m-textarea-autogrow">
            <span class="m-t-a-pusher">Ваш комментарий</span>
            <textarea name="comment" class="m-t-a-textarea" placeholder="Ваш комментарий"></textarea>
        </div>
        <div class="p-c-a-submit">
            <button class="p-c-addnew-button button green small">Отправить</button>
        </div>
    </form>
</section>
{% endblock %}
