{% extends "m_base.html" %}
{% block pageid %}comments{% endblock %}

{% block header %}
    <header class="l-header" id="l-header">
        <a href="{% url mobile_index %}" class="l-h-link-left l-h-icon-back"></a>
        <h1 class="l-h-logo">Комментарии</h1>
    </header>
{% endblock %}

{% block content %}
<section class="l-content p-comments" data-storyid="{{ feed_item.id }}" id="l-content">
    <div class="p-c-place">
        <i class="p-c-p-cat cafe"></i>
        <div class="p-c-p-meta">
            <a href="{% url mobile_place pk=feed_item.get_data.place.id %}" class="p-c-p-name">{{ feed_item.get_data.place.title }}</a>
            <span class="p-c-p-cat-title">{{ feed_item.get_data.place.type_text}}</span>
        </div>

        <a href="{% url mobile_place pk=feed_item.get_data.place.id %}" class="p-c-p-link"></a>
    </div>
    <ul class="p-c-list">
        <li class="p-c-l-item">
            <a href="{% url mobile_profile pk=feed_item.creator.id %}" class="p-c-userpicwrap">
                <img class="p-c-userpic" src="{{ feed_item.creator.photo_url }}" alt="">
            </a>
            <div class="p-c-content">
                <a href="{% url mobile_profile pk=feed_item.creator.id %}" class="p-c-username">{{ feed_item.creator.full_name }}</a>
                <span class="p-c-message">{{ feed_item.get_data.review }}</span>
                <span class="p-c-time">{{ feed_item.create_date|humanize_since }}</span>
            </div>
        </li>

        {% for comment in feed_item.get_comments %}
        <li class="p-c-l-item" data-commentid="{{ comment.id }}">
            <a href="{% url mobile_profile pk=comment.creator.id %}" class="p-c-userpicwrap">
                <img class="p-c-userpic" src="{{ comment.creator.photo_url }}" alt="">
            </a>
            <div class="p-c-content">
                <a href="{% url mobile_profile pk=comment.creator.id %}" class="p-c-username">{{ comment.creator.full_name }}</a>
                <span class="p-c-message">{{ comment.comment }}</span>
                <span class="p-c-time">{{ comment.create_date|humanize_since}}</span>
            </div>
        </li>
        {% endfor %}
    </ul>

    <form action="" class="p-c-addnew">
        <div class="m-textarea-autogrow">
            <span class="m-t-a-pusher">Ваш комментарий</span>
            <textarea name="comment" class="m-t-a-textarea" placeholder="Ваш комментарий"></textarea>
        </div>
        <div class="p-c-a-submit">
            <button class="p-c-addnew-button button gray small">Отправить</button>
        </div>
    </form>
</section>
{% endblock %}
