{% extends "m_base.html" %}
{% block pageid %}login{% endblock %}
{% block htmlclasses %} splash-login{% endblock %}

{% block body %}
<section class="l-content p-login" id="l-content">
    <h1 class="p-l-logo">Ostronaut</h1>

    <ul class="p-l-options">
        <li class="p-l-o-item"><a href="{{ vk_login_url }}" class="p-l-o-butt button blue">Войти через Вконтакте</a></li>
        <li class="p-l-o-item"><a href="{% url mobile:login %}" id="p-l-link-login" class="button gray">Войти</a></li>
    </ul>
</section>
{% endblock %}

