{% extends "m_base.html" %}
{% block pageid %}login{% endblock %}

{% block header_left %}{% endblock %}

{% block content %}
<section class="l-content p-login" id="l-content">
    <div class="p-l-intro">
        <span class="p-l-i-image"></span>
        <span class="p-l-i-greeting">Временно вход возможен только по приглашениям</span>
    </div>
    <p class="p-l-options">
        <a href="{{ vk_login_url }}" class="p-l-o-butt button blue">Войти через Вконтакте</a>
    </p>
</section>
{% endblock %}
