{% extends "m_base.html" %}

{% block htmlclasses %} splash-inviteonly{% endblock %}

{% block body %}
<section class="l-content p-inviteonly" id="l-content">
    <div class="p-i-content">
        <p>
            Пока что воспользоваться нашим сервисом можно только по приглашениям.
        </p>
        <p>
            Хочешь получить приглашение? Скачай приложение, отправь фотографию с описанием места и, если фото нам понравится, мы вышлем приглашение.
        </p>
    </div>
</section>
{% endblock %}

