{% extends "m_base.html" %}
{% block pageid %}login{% endblock %}
{% block htmlclasses %} splash-login{% endblock %}

{% block body %}
<section class="p-login">
    <h1 class="p-l-logo">Ostronaut</h1>

    <ul class="p-l-options">
        <li class="p-l-o-item"><a href="{{ vk_login_url }}" class="p-l-o-butt button blue">Войти через Вконтакте</a></li>
        <li class="p-l-o-item"><a href="javascript:void(0);" id="p-l-link-login" class="p-l-o-butt button gray">Войти</a></li>
    </ul>
</section>
{% endblock %}

{% block overlay %}
<div id="p-login-overlay" class="p-login-overlay">
    <form class="p-l-o-emaillogin p-l-o-form" action="{% url person-login %}" method="POST">
        <h2 class="p-l-o-heading"><a href="javascript:void(0);" class="l-overlay-close icon-arrow-left"></a>Вход</h2>

        <p class="p-l-o-inputs">
            <input type="email" name="username" class="p-l-o-elogin-email" id="p-l-o-elogin-email"
                autocapitalize="off" data-validate="true" data-filter="email" data-error="Введите правильный адрес эл. почты" placeholder="Электронная почта" value="{{ formset.username.value }}" required>
            <input type="password" name="password" class="p-l-o-elogin-password" id="p-l-o-elogin-password"
                placeholder="Пароль" value="{{ formset.email.value }}" required>
        </p>

        <p class="p-l-o-errors m-validate-errors"></p>

        <button class="p-l-o-button"><span class="button gray">Войти</span></button>
    </form>
</div>
{% endblock %}
