{% extends "m_base.html" %}
{% block pageid %}login_email{% endblock %}

{% block body %}
<section class="l-content p-login-email" id="l-content">
    <h1 class="p-l-e-heading">Вход</h1>
    <form class="p-l-e-form" action="{% url mobile_login %}" method="POST">
        <p class="p-l-e-inputs">
            <input type="email" name="username" class="p-l-e-email"
                autocapitalize="off" data-validate="true" data-filter="email" data-error="Введите правильный адрес эл. почты" placeholder="Электронная почта" value="{{ form.username.value|default:"" }}" required>
            <input type="password" name="password" class="p-l-e-password" data-error="Введите пароль"
                autocapitalize="off" data-validate="true" placeholder="Пароль" value="" required>
        </p>

        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next|escape|default:'/m/' }}" />

        <p class="p-l-e-errors m-validate-errors">{% if form.errors %}{% include "modules/m.validate.error.html" with form=form %}{% endif %}</p>
        
        <button class="p-l-e-button"><span class="button gray">Войти</span></button>
    </form>
</section>
{% endblock %}
