{% extends "m_base.html" %}

{% block header %}
    <header class="l-header" id="l-header">
        <a href="{% url mobile_index %}" class="l-h-link-left l-h-icon-cross"></a>
        <h1 class="l-h-logo">Уведомления</h1>
    </header>
{% endblock %}

{% block content %}
<section class="l-content p-notifications" id="l-content">
    <ul class="p-n-list">
        <li class="p-n-l-item unread">
            <a href="#" class="p-n-l-link">
                <img class="p-n-l-userpic" src="http://storage.ostrovok.ru/t/100x100/social/person9f894cd1c76f48769df57684787b1f7e.jpg" alt="">

                <div class="p-n-l-message">
                    <strong>Herr Scheisekeizer</strong> commented on your magnificent checkin at The Final Frontier
                </div>
            </a>
        </li>
        <li class="p-n-l-item">
            <img class="p-n-l-userpic" src="http://storage.ostrovok.ru/t/100x100/social/person9f894cd1c76f48769df57684787b1f7e.jpg" alt="">

            <div class="p-n-l-message">
                <strong>Herr Scheisekeizer</strong> commented on your magnificent checkin at The Final Frontier
            </div>
        </li>
    </ul>
</section>
{% endblock %}
