{% extends "m_base.html" %}

{% block header %}
{% with title="Уведомления" %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block header_left %}<a href="javascript:S.router.back();" class="l-h-link-left l-h-icon-cross"></a>{% endblock %}

{% block content %}
<section class="l-content p-notifications" id="l-content">
    <ul class="p-n-list">
        {% for notification in notifications %}
        <li class="p-n-l-item{% if not notification.is_read %} unread{% endif %}">
                <a href="{% url mobile:profile pk=notification.sender.id %}"><img class="p-n-l-userpic" src="{{ notification.sender.photo_url }}" alt=""></a>

                <div class="p-n-l-message">
                    <strong>{{notification.sender.full_name}}</strong>
                    {% if notification.notification_type == 1 %}
                    {{ notification.sender.sex|unisex:"Добавил,Добавила" }} новый комментарий в <a href="{% url mobile:checkin pk=notification.object_id %}">вашей ленте</a>
                    {% elif notification.notification_type == 2 %}
                    {{ notification.sender.sex|unisex:"Подписался,Подписалась" }} на вас
                    {% endif %}
                </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
