{% extends "m_base.html" %}
{% block pageid %}place{% endblock %}

{% block content %}
<section class="l-content p-place" id="l-content">
    <div class="p-p-content">
        <figure class="p-p-imgwrap">
            <img class="p-p-img" src="http://placesheen.com/500/500" alt="">

            <figcaption class="p-p-imgcaption">
                <div class="p-p-place">
                    <i class="p-p-p-cat cafe"></i>
                    <a href="#" class="p-p-p-name">Дворец его высочества В.В.П.</a>
                </div>
                <div class="p-p-meta">
                    <span class="p-p-m-rating">{{ 3|stars }}</span>
                </div>
                <small class="p-p-p-address">Keizersgracht 735, 1017DZ, Amsterdam</small>
            </figcaption>
        </figure>
    </div>

    <div class="p-p-imgfeed">
        <ul class="p-p-i-list">
            <li class="p-p-i-item">
                <img class="p-p-i-img" src="http://placesheen.com/124/124" alt="">
            </li>
            <li class="p-p-i-item">
                <img class="p-p-i-img" src="http://placesheen.com/124/124" alt="">
            </li>
            <li class="p-p-i-item">
                <img class="p-p-i-img" src="http://placesheen.com/124/124" alt="">
            </li>
            <li class="p-p-i-item">
                <img class="p-p-i-img" src="http://placesheen.com/124/124" alt="">
            </li>
            <li class="p-p-i-item">
                <img class="p-p-i-img" src="http://placesheen.com/124/124" alt="">
            </li>
            <li class="p-p-i-item">
                <img class="p-p-i-img" src="http://placesheen.com/124/124" alt="">
            </li>
            <li class="p-p-i-item">
                <img class="p-p-i-img" src="http://placesheen.com/124/124" alt="">
            </li>
            <li class="p-p-i-item">
                <img class="p-p-i-img" src="http://placesheen.com/124/124" alt="">
            </li>
            <li class="p-p-i-item">
                <img class="p-p-i-img" src="http://placesheen.com/124/124" alt="">
            </li>
            <li class="p-p-i-item">
                <img class="p-p-i-img" src="http://placesheen.com/124/124" alt="">
            </li>
            <li class="p-p-i-item">
                <img class="p-p-i-img" src="http://placesheen.com/124/124" alt="">
            </li>
            <li class="p-p-i-item">
                <img class="p-p-i-img" src="http://placesheen.com/124/124" alt="">
            </li>
        </ul>
    </div>
</section>
{% endblock %}
