{% extends "m_base.html" %}
{% block pageid %}place{% endblock %}

{% block header %}
{% with title=place.title %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block header_left %}<a href="javascript:S.router.back();" class="l-h-link-left l-h-icon-back"></a>{% endblock %}

{% block content %}
<section class="l-content p-place" id="l-content">
    <div class="p-p-description">
        <i class="p-p-d-cat {{ place.type|place_categorize }}"></i>
        <a class="p-p-d-map" href="http://maps.google.com/?q={{place.format_position}}&amp;z=14" target="_blank">
            <span class="p-p-d-mapimage"
                style="background: url('http://maps.googleapis.com/maps/api/staticmap?size=480x100&amp;scale=2&amp;zoom=14&amp;markers={{place.format_position}}&amp;sensor=false&amp;language=ru-RU') no-repeat center center; background-size: 480px 100px;"></span>
        </a>
    </div>

    <div class="p-p-title">
        <span class="p-p-rating">{{ place.rate|stars }}</span>
        <strong class="p-p-name">{{ place.title }}</strong>
        <small class="p-p-address">{{ place.format_address}}</small>
    </div>

    {% if place.get_photos_url|length %}
    <div class="m-photorow p-p-imgfeed">
        <ul class="m-p-list{% if place.get_photos_url|length == 1 %} single{% endif %}">
            {% for photo in place.get_photos_url %}
            <li class="m-p-item m-p-external">
                {% if photo.url %}
                <a href="{{ photo.url }}" class="m-p-imgwrap"><img class="m-p-img" src="{{ photo }}" alt=""></a>
                {% else %}
                <img class="m-p-img" src="{{ photo }}" alt="">
                {% endif %}
                <span class="m-p-copyright">
                    <a href="{{ meta.2 }}">фотография предоставлена instagram</a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</section>
{% endblock %}
