{% extends "m_base.html" %}
{% block pageid %}profile_edit{% endblock %}

{% block header %}
{% with title="Редактировать" %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block header_left %}<a href="javascript:S.router.back();" class="l-h-link-left l-h-icon-back"></a>{% endblock %}
{% block header_right %}<a href="{% url mobile_logout %}" class="l-h-link-right l-h-iconless-butt">выйти</a>{% endblock %}

{% block content %}
<section class="l-content p-profile-edit" id="l-content">
    <h2 class="p-p-e-subheading">Личные данные</h2>
    <form class="p-p-e-form" action="" method="POST">
        <p class="p-p-e-inputs">
            <input type="text" name="firstname"
            data-validate="true" data-error="Введите имя" placeholder="Имя" value="{{ form.firstname.value|default:'' }}" required>
            <input type="text" name="lastname"
            data-validate="true" data-error="Введите фамилию" placeholder="Фамилия" value="{{ form.lastname.value|default:'' }}" required>
            <input type="date" name="birthday"
            data-validate="true" data-error="Введите дату рождения" autocapitalize="off" min="1900-01-01" max="{% now "Y-m-d" %}"
            placeholder="Дата рождения" value="{{ form.birthday.value|default:'' }}" required>
            <input type="text" name="location"
            placeholder="Город пребывания" value="{{ form.location.value|default:"" }}">
        </p>

        {% csrf_token %}
        <p class="p-p-e-errors m-validate-errors">{% include "modules/m.validate.error.html" with form=form %}</p>

        <p class="p-p-e-submit">
            <button class="p-p-e-button"><span class="button gray">Сохранить</span></button>
        </p>
    </form>
</section>
{% endblock %}


