{% extends "m_base.html" %}
{% load pytils_numeral %}

{% block header %}
{% with title="Профиль" %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block header_left %}<a href="{% url mobile_index %}" class="l-h-link-left l-h-icon-back"></a>{% endblock %}
{% block header_right %}{% if user.get_profile.id == person.id %}
    <a href="{% url mobile_person_edit %}" class="l-h-link-right l-h-icon-settings"></a>
{% endif %}{% endblock %}

{% block pageid %}profile{% endblock %}

{% block content %}
<section class="l-content p-profile" id="l-content">
    <figure class="p-p-usercard">
        <img class="p-p-userpic" src="{{ person.photo_url }}" alt="">
        <figcaption class="p-p-userinfo">
            <strong class="p-p-username">{{ person.full_name }}</strong>
            {% if person.location %}<small class="p-p-location">{{ person.location }}</small>{% endif %}
        </figcaption>
    </figure>

    <div class="cf p-p-subscriptions{% if user.get_profile.id != person.id %} subscribable{% endif %}">
        <a href="{% url mobile_person_friends pk=person.id action='followers' %}" class="p-p-s-followers first"><span><em>{{ person.followers|length }}</em> {{ person.followers|length|choose_plural:"подписчик, подписчика, подписчиков" }}</span></a>
        <a href="{% url mobile_person_friends pk=person.id action='following' %}" class="p-p-s-following"><span><em>{{ person.following|length }}</em> {{ person.following|length|choose_plural:"подписка, подписки, подписок" }}</span></a>
        {% if user.get_profile.id != person.id %}<a href="javascript:void(0);" class="p-p-s-follow{% if person.id in user.get_profile.following %} following{% endif %}" data-userid="{{ person.id }}"><span class="follow"></span><span class="unfollow"></span></a>{% endif %}
    </div>

    {% if last_checkins|length %}
    <div class="m-photorow p-p-imgfeed">
        <ul class="m-p-list{% if last_checkins|length == 1 %} single{% endif %}">
            {% for photo in last_checkins %}
            <li class="m-p-item">
                <img class="m-p-img" src="{{ photo.photo_url }}" alt="{{ photo.place.title }}">
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</section>
{% endblock %}
