{% extends "m_base.html" %}
{% load pytils_numeral %}
{% block header %}
    <header class="l-header" id="l-header">
        <a href="javascript:window.history.go(-1);" class="l-h-link-left l-h-icon-back"></a>
        <h1 class="l-h-logo">Профиль</h1>
        {% if user.get_profile.id == person.id %}
        <a href="{% url mobile_person_edit %}" class="l-h-link-right l-h-icon-settings"></a>
        {% endif %}
    </header>
{% endblock %}

{% block content %}
<section class="l-content p-profile" id="l-content">
    <figure class="p-p-usercard">
        <img class="p-p-userpic" src="{{ person.photo_url }}" alt="">
        <figcaption class="p-p-userinfo">
            <span class="p-p-username">{{ person.full_name}}</span>
            {% if person.location %}<em class="p-p-location">{{ person.location }}</em>{% endif %}
            <ul class="p-p-userstats">
                <li class="p-p-u-item">Последний чекин: <a href="{% url mobile_checkin pk=lastcheckin.feed_item_id %}">{{ lastcheckin.place.title }}</a></li>
                <li class="p-p-u-item">Всего побывал в <b>{{checkin_count|get_plural:"месте, местах, местах"}}</b></li>
                {% if user.get_profile.id == person.id %}<li class="p-p-u-item">Адрес электронной почты: <b>{{ person.email }}</b></li>{% endif %}
            </ul>
        </figcaption>
    </figure>
</section>
{% endblock %}
