{% load static %}

<aside class="b-download-appstore{% if small %} small{% endif %}">
    <div class="b-d-a-content">
        <img src="{% get_static_prefix %}img/misc/appstore{% if small %}_small{% endif %}.png" alt="" class="b-d-a-icon">
        <p class="b-d-a-text">
            Установи Ostronaut и показывай друзьям места, в которых бываешь. Фотографируй, оценивай, делись!
        </p>
    </div>

    <a href="{{ appstore_url }}" target="_blank" class="button green{% if small %} small{% endif %} b-d-a-link">Скачать приложение</a>
</aside>
