{% extends "blocks/base/base.html" %}
{% block htmlclasses %} splashview{% endblock %}
{% block body %}
<section class="p-users-login-oauth" id="p-users-login-oauth">
    <p class="p-u-l-o-message-loading">Производится аутенфикация, подождите пожалуйста.</p>
    <p class="p-u-l-o-message-success">Аутенфикация успешна, вы можете <a href="{% url page-index %}">вернуться на сайт</a>.</p>
    <p class="p-u-l-o-message-failed">Аутенфикация безуспешна. Убедитесь, что вы нажали "Разрешить" и попробуйте еще раз. <a href="{% url person_login %}">Попробовать еще раз</a>?</p>
</section>
{% endblock %}

{% block overlay %}{% endblock %}
