{% extends "blocks/base/base.html" %}

{% block content %}
<section class="l-content p-users-resetpassword-confirm s-wrap" id="l-content">
    <h2 class="p-u-r-c-heading">Восстановление пароля</h2>
    {% if not form %}
    <p class="p-u-r-c-explain">
        Ссылка восстановления пароля просрочена
    </p>
    {% else %}
    <p class="p-u-r-c-explain">
        Укажите новый пароль
    </p>

    <form action="{{ person_passwordreset_confirm_url }}" class="p-u-r-c-form" method="POST">
        <p class="p-u-r-c-row m-validate-container cf" data-for="new_password1">
            <label class="p-u-r-c-label">Новый пароль:</label>
            <input type="password" name="new_password1" class="p-u-r-c-password1"
                autocapitalize="off" data-validate="true" data-error="Укажите пароль" data-enabling="true" placeholder="Новый пароль" 
                value="{{ form.new_password1.value|default:'' }}" required>
            {% include "blocks/module-validate/m-validate-error.html" with input=form.new_password1 %}
        </p>

        <p class="p-u-r-c-row m-validate-container cf" data-for="new_password2">
            <label class="p-u-r-c-label">Еще раз новый пароль:</label>
            <input type="password" name="new_password2" class="p-u-r-c-password2"
                autocapitalize="off" data-validate="true" data-enabling="true" placeholder="Еще раз новый пароль"
                value="{{ form.new_password2.value|default:'' }}" data-error="Пароли не совпадают" required>
            {% include "blocks/module-validate/m-validate-error.html" with input=form.new_password1 %}
        </p>

        {% include "blocks/module-validate/m-validate-error-nonfield.html" with form=form %}
        {% csrf_token %}

        <p class="p-u-r-c-submit">
            <button class="button blue" disabled><span>Отправить</span></button>
        </p>
    </form>
    {% endif %}
</section>
{% endblock %}
