.p-users-resetpassword-confirm {
    padding: 40px 0;
    color: #535353;

    .p-u-r-c-heading {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 24px;
    }

    .p-u-r-c-explain {
        width: 600px;
        margin-top: 20px;
    }

    .p-u-r-c-form {
        width: 480px;
        margin-top: 30px;

        .p-u-r-c-row {
            margin-bottom: 10px;
        }

        .p-u-r-c-label {
            display: inline-block;
            font-size: 14px;
            line-height: 40px;
            color: #919191;
            text-align: right;
        }

        .p-u-r-c-password {
            float: right;
        }

        .m-validate-container-nonfield {
            margin-bottom: 15px;
        }

        .p-u-r-c-submit {
            overflow: hidden;

            .button {
                float: right;
            }
        }
    }
}
