<div class="b-imagefilters">
    <div class="b-i-filtered"></div>

    <div class="b-i-filters">
        <ul class="b-i-filterlist">
            <li class="b-i-filter" data-filter="normal"></li>
            <li class="b-i-filter" data-filter="sepia"></li>
            <li class="b-i-filter" data-filter="saturation"></li>
            <li class="b-i-filter" data-filter="blur"></li>
            <li class="b-i-filter" data-filter="bnw"></li>
        </ul>
    </div>

    <div class="b-i-processing">
        Применяю фильтр&#133;
    </div>
</div>
