@import 'css/mixins.scss';

.b-imagefilters {
    .b-i-filtered {
        width: 640px;
        margin: 0 auto;

        .b-i-canvas {
            width: 640px;
            height: 640px;
        }
    }

    .b-i-filters {
        overflow: hidden;
        // overflow-x: scroll;

        .b-i-filterlist {
            width: 960px;
            overflow: hidden;
        }

        .b-i-filter {
            width: 50px;
            height: 50px;

            display: block;

            margin-right: 5px;
            float: left;

            &[data-filter="bnw"] {
                background: url('img/filters/filter_1.jpg') no-repeat;
            }
            &[data-filter="sepia"] {
                background: url('img/filters/filter_2.jpg') no-repeat;
            }
            &[data-filter="saturation"] {
                background: url('img/filters/filter_3.jpg') no-repeat;
            }
            &[data-filter="blur"] {
                background: url('img/filters/filter_4.jpg') no-repeat;
            }
            &[data-filter="noise"] {
                background: url('img/filters/filter_5.jpg') no-repeat;
            }
        }
    }
}

