@import 'css/mixins.scss';

.b-imagefilters {
    .b-i-filtered {
        width: 640px;
        margin: 0 auto;

        .b-i-canvas {
            width: 640px;
            height: 640px;
        }
    }

    .b-i-filters {
        overflow: hidden;
        // overflow-x: scroll;

        .b-i-filterlist {
            width: 960px;
            overflow: hidden;
        }

        .b-i-filter {
            width: 50px;
            height: 50px;

            margin-right: 5px;
            float: left;

            &[data-type="gnarlar1"] {
                background: url('img/filters/filter_1.jpg') no-repeat;
            }
            &[data-type="gnarlar2"] {
                background: url('img/filters/filter_2.jpg') no-repeat;
            }
            &[data-type="gnarlar3"] {
                background: url('img/filters/filter_3.jpg') no-repeat;
            }
            &[data-type="gnarlar4"] {
                background: url('img/filters/filter_4.jpg') no-repeat;
            }
            &[data-type="gnarlar5"] {
                background: url('img/filters/filter_5.jpg') no-repeat;
            }
        }
    }
}

