<div class="b-imagefilters">
    <div class="b-i-filtered">
        <canvas id="yobacanvas" class="b-i-canvas" width="640" height="640"></canvas>
    </div>
    <div class="b-i-filters">
        <ul class="b-i-filterlist">
            <li class="b-i-filter" data-type="bnw"></li>
            <li class="b-i-filter" data-type="sepia"></li>
            <li class="b-i-filter" data-type="posterize"></li>
            <li class="b-i-filter" data-type="blur"></li>
            <li class="b-i-filter" data-type="threshold"></li>
        </ul>
    </div>
</div>
