.p-invite-codes {
  padding: 40px 0;

  color: #535353;

  .p-u-p-heading {
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
  }

  .p-u-p-subheading {
    padding: 10px 0;
    font-weight: 300;
    font-size: 18px;
  }

}
