.l-footer
  .l-wrap
    = link_to "О нас", about_path, class: 'l-f-link'
    = link_to "Пользовательское соглашение", tos_path, class: 'l-f-link'
    = mail_to CONFIG[:contact_email], "Обратная связь", class: 'l-f-link'
