!!!
%html.no-js{:class=>(yield :html_classes).blank? ? nil : (yield :html_classes), :lang=>'ru-RU'}
  %head
    = render :partial => 'layouts/meta'

  %body
    = yield

    -#
      :javascript
        app = {};
      = javascript_include_tag 'application'
